CustomInstallNodered-master/mainflows.json
[{"id":"a8a4fbb4.47b218","type":"tab","label":"Main","disabled":false,"info":""},{"id":"e8b7cfc5.2ce4b","type":"tab","label":"UI","disabled":false,"info":""},{"id":"d591106.1f4267","type":"subflow","name":"read configuration","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"22e8c15.1224cbe","type":"subflow","name":"esame vista","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"b141bb3.e1dc3c8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"1c2e132b.ce94cd","type":"subflow","name":"esame daltonismo","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"3c7721c0.603bf6"},{"id":"1d32d713.ecf749"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"3ea7e4c7.cd9404","type":"subflow","name":"Alexa","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"ee39999b.68b5a","type":"subflow","name":"esame udito","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"3c231ceb.b056bc"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"325c32a5.1a51de","type":"subflow","name":"ConvertWordsToNumber","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"35789987.1cad16"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"35789987.1cad16","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3b8680bc.495b08","type":"subflow","name":"ElaborateDaltonismo","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"e20d5ac3.473678"}]}],"out":[{"x":320,"y":80,"wires":[{"id":"e20d5ac3.473678","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"fbab9837.1c28f8","type":"alexa-remote-account","name":"Alexa Flavio","authMethod":"proxy","proxyOwnIp":"192.168.1.155","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","amazonPage":"amazon.it","acceptLanguage":"it-IT","userAgent":"","useWsMqtt":"on","autoInit":"off"},{"id":"7980dfd1.00f528","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77bb108.155f57","type":"ui_group","name":"Alexa","tab":"989f67bf.e64b6","order":1,"disp":true,"width":"6","collapse":false},{"id":"e9d42dd7.5b2c18","type":"ui_group","name":"Configurazione TV","tab":"47bdb46e.96852c","order":1,"disp":true,"width":"6","collapse":false},{"id":"989f67bf.e64b6","type":"ui_tab","name":"Alexa","icon":"dashboard","disabled":false,"hidden":false},{"id":"47bdb46e.96852c","type":"ui_tab","name":"TV Cast","icon":"dashboard","disabled":false,"hidden":false},{"id":"85a78666.a0619","type":"sqlitedb","db":"/home/flavio/Documents/dbexams.db","mode":"RWC"},{"id":"5448328f.4c6494","type":"castv2-connection","name":"TV Cast","target":"","host":"192.168.178.65","port":"8009"},{"id":"5209d0b2.496318","type":"alexa-remote-event","z":"3ea7e4c7.cd9404","name":"","account":"fbab9837.1c28f8","event":"ws-device-activity","x":110,"y":120,"wires":[["ee4a24ed.f08288","75fe2a62.21cf5c"]]},{"id":"ee4a24ed.f08288","type":"debug","z":"3ea7e4c7.cd9404","d":true,"name":"alexa activity","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":310,"y":60,"wires":[]},{"id":"75fe2a62.21cf5c","type":"function","z":"3ea7e4c7.cd9404","name":"tolower","func":"msg.payload = msg.payload.description.summary;\nmsg.payload = msg.payload.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["1e1c5cc7.e3c043"]]},{"id":"f8599a27.2bb33","type":"inject","z":"d591106.1f4267","name":"read data","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":90,"y":60,"wires":[["68fdd77e.a419f8","7271659c.879e6c"]]},{"id":"68fdd77e.a419f8","type":"function","z":"d591106.1f4267","name":"set global variables","func":"var tv_sizes = [\n    { \"pollici\": 22, \"larghezza\":49, \"altezza\": 28, \"diagonale\":49 },\n    { \"pollici\": 24, \"larghezza\":56, \"altezza\": 34, \"diagonale\":60 },\n    { \"pollici\": 28, \"larghezza\":65, \"altezza\": 40, \"diagonale\":71 },\n    { \"pollici\": 32, \"larghezza\":73, \"altezza\": 44, \"diagonale\":80 },\n    { \"pollici\": 40, \"larghezza\":90, \"altezza\": 51, \"diagonale\":100 },\n    { \"pollici\": 43, \"larghezza\":97, \"altezza\": 57, \"diagonale\":108 },\n    { \"pollici\": 48, \"larghezza\":108, \"altezza\": 62, \"diagonale\":122 },\n    { \"pollici\": 49, \"larghezza\":111, \"altezza\": 64, \"diagonale\":123 },\n    { \"pollici\": 55, \"larghezza\":124, \"altezza\": 73, \"diagonale\":139 },\n    { \"pollici\": 60, \"larghezza\":136, \"altezza\": 80, \"diagonale\":152 },\n    { \"pollici\": 65, \"larghezza\":145, \"altezza\": 90, \"diagonale\":164 },\n    { \"pollici\": 75, \"larghezza\":168, \"altezza\": 96, \"diagonale\":189 },\n    { \"pollici\": 88, \"larghezza\":197, \"altezza\": 120, \"diagonale\":223 },\n];\nglobal.set(\"tv_sizes\", tv_sizes);\n\nvar tv_res = [\n    { \"nome\": \"576p (720x576)\", \"larghezza\": 720, \"altezza\" : 576 },\n    { \"nome\": \"720p (HD) (1280x720)\", \"larghezza\": 1280, \"altezza\" : 720 },\n    { \"nome\": \"1080p (Full HD) (1920x1080)\", \"larghezza\": 1920, \"altezza\" : 1080 },\n    { \"nome\": \"2K (2048x1080)\", \"larghezza\": 2048, \"altezza\" : 1080 },\n    { \"nome\": \"2160p (Ultra HD) 4K (3840x2160)\", \"larghezza\": 3840, \"altezza\" : 2160 },\n    { \"nome\": \"8K (7680x4320)\", \"larghezza\": 7680, \"altezza\" : 4320 },\n];\nglobal.set(\"tv_res\", tv_res);\n\nglobal.set(\"alexa_speak_volume\", \"50\");\n\nglobal.set(\"current_step\", \"\");\n\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":60,"wires":[[]]},{"id":"73ce553c.e7d9fc","type":"function","z":"d591106.1f4267","name":"retrieve configuration","func":"var alexa_device_msg = null;\nvar tv_device_msg = null;\nvar tv_device_size_msg = null;\nvar tv_device_res_msg = null;\n\nfor (var index in msg.payload) {\n    switch (msg.payload[index][\"name\"]){\n        case \"alexa_device\":\n            alexa_device_msg = { payload: msg.payload[index][\"value\"] };\n            break;\n        case \"tv_device\":\n            tv_device_msg = { payload: msg.payload[index][\"value\"] };\n            break;\n        case \"tv_device_size\":\n            tv_device_size_msg = { payload: msg.payload[index][\"value\"] };\n            break;\n        case \"tv_device_res\":\n            tv_device_res_msg = { payload: msg.payload[index][\"value\"] };\n            break;\n    }\n}\n\nreturn [alexa_device_msg, tv_device_msg, tv_device_size_msg, tv_device_res_msg];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":520,"y":120,"wires":[["c52949c0.4f24a8"],["19274436.a14184"],["3c402fb4.1af12"],["ac8cb9b8.cd0a48"]]},{"id":"c52949c0.4f24a8","type":"change","z":"d591106.1f4267","name":"","rules":[{"t":"set","p":"alexa_device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":60,"wires":[[]]},{"id":"64de0202.cc7a6c","type":"inject","z":"e8b7cfc5.2ce4b","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":90,"y":340,"wires":[["b854db08.ef22b"]]},{"id":"b854db08.ef22b","type":"function","z":"e8b7cfc5.2ce4b","name":"retrieve configuration","func":"var alexa_device_msg = null;\nvar tv_device_msg = null;\nvar tv_device_size_msg = null;\nvar tv_device_res_msg = null;\n\nalexa_device_msg = { payload: global.get('alexa_device') };\ntv_device_msg = { payload: global.get('tv_device') };\ntv_device_size_msg = { payload: global.get('tv_device_size') };\ntv_device_res_msg = { payload: global.get('tv_device_res') };\n\nreturn [alexa_device_msg, tv_device_msg, tv_device_size_msg, tv_device_res_msg];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":280,"y":340,"wires":[["eddb07c2.704968","ad99fe7b.292588"],["c754a4c0.f7d3d8"],["97d322ad.f51ee8","e2355f84.075dd8"],["4345bb67.7f8b44","16cdd624.1e01fa"]]},{"id":"eddb07c2.704968","type":"alexa-remote-echo","z":"e8b7cfc5.2ce4b","name":"","account":"fbab9837.1c28f8","config":{"option":"get","value":{"what":"device","device":{"type":"str","value":"ALEXA_ALL_DSN"}}},"x":710,"y":160,"wires":[["26267f64.a9517"]]},{"id":"26267f64.a9517","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.accountName[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":160,"wires":[["9487a823.3c641"]]},{"id":"ad99fe7b.292588","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":80,"wires":[["9487a823.3c641"]]},{"id":"3431652f.24f9ba","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"alexa_device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":160,"wires":[[]]},{"id":"39f6c926.5be19e","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('alexa_device').replace('\\'', '\\'\\'') + \"' where name = 'alexa_device';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":220,"wires":[["8d1a7e85.ab60d8"]]},{"id":"1e1c5cc7.e3c043","type":"switch","z":"3ea7e4c7.cd9404","name":"switch commands","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"esame occhi","vt":"str"},{"t":"cont","v":"esame visivo","vt":"str"},{"t":"cont","v":"esame vista","vt":"str"},{"t":"cont","v":"esame daltonismo","vt":"str"},{"t":"cont","v":"esame audio","vt":"str"},{"t":"cont","v":"esame udito","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":510,"y":120,"wires":[["8beb3914.b4b6"],["8beb3914.b4b6"],["8beb3914.b4b6"],["5045181b.7f083"],["d3948cd.742eaf"],["d3948cd.742eaf"]]},{"id":"6bb029cf.7b5d3","type":"subflow:3ea7e4c7.cd9404","z":"a8a4fbb4.47b218","name":"","env":[],"x":90,"y":80,"wires":[]},{"id":"8beb3914.b4b6","type":"subflow:22e8c15.1224cbe","z":"3ea7e4c7.cd9404","name":"","env":[],"x":730,"y":80,"wires":[]},{"id":"5045181b.7f083","type":"subflow:1c2e132b.ce94cd","z":"3ea7e4c7.cd9404","name":"","env":[],"x":750,"y":120,"wires":[]},{"id":"d3948cd.742eaf","type":"subflow:ee39999b.68b5a","z":"3ea7e4c7.cd9404","name":"","env":[],"x":730,"y":160,"wires":[]},{"id":"33c68cd7.b6dc84","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":360,"wires":[[]]},{"id":"5b4a931.c08e76c","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('tv_device') + \"' where name = 'tv_device';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":620,"wires":[["f2d4e812.e2dc6"]]},{"id":"d53bc574.b2384","type":"subflow:d591106.1f4267","z":"a8a4fbb4.47b218","name":"","env":[],"x":130,"y":40,"wires":[]},{"id":"19274436.a14184","type":"change","z":"d591106.1f4267","name":"","rules":[{"t":"set","p":"tv_device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[[]]},{"id":"2fc329af.6f4d66","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload.split('\\n');\nlet found = []\nlet device\nresponse.forEach ( line => {\n    if ( line.indexOf('|') > -1 ){\n        device = line.split('|')[0] + ' - (';\n        let name = line.split('|')[1].split('(')[1];\n        device += name;\n        found.push ( device )\n    }\n})\nmsg.options = found;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":420,"wires":[["b9d3b8bb.17c2f"]]},{"id":"aa2be1b2.b0cdd","type":"exec","z":"e8b7cfc5.2ce4b","command":"sudo 'Virtual!2020' | sudo nmap -sn 10.0.2.0/24 | awk '/Nmap scan report for/{printf $5;}/MAC Address:/{print \"|\"substr($0, index($0,$3)) }' | sort","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan subnet","x":730,"y":420,"wires":[["2fc329af.6f4d66"],[],[]]},{"id":"8a8ed729.d7fde","type":"catch","z":"e8b7cfc5.2ce4b","name":"","scope":null,"uncaught":false,"x":80,"y":40,"wires":[["136fbf67.0dbaa1"]]},{"id":"136fbf67.0dbaa1","type":"debug","z":"e8b7cfc5.2ce4b","name":"error UI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":40,"wires":[]},{"id":"d0b9161e.c67","type":"inject","z":"e8b7cfc5.2ce4b","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"3","topic":"","x":90,"y":400,"wires":[["44a6eb79.228cb4"]]},{"id":"44a6eb79.228cb4","type":"alexa-remote-init","z":"e8b7cfc5.2ce4b","name":"","account":"fbab9837.1c28f8","option":"initialise","x":240,"y":400,"wires":[[]]},{"id":"3c231ceb.b056bc","type":"function","z":"ee39999b.68b5a","name":"prepare skill statement","func":"var alexa_device = global.get('alexa_device');\n\n//imposto l'esame a udito - serve per recuperare le risposte alexa solo qui\nglobal.set('current_exam', 'A');\n\nvar payload = {\"type\": \"skill\",\n    payload:\n    {\n        'skill': 'amzn1.ask.skill.394a2f2c-9f7a-4bdd-8ada-1d9affaca6cf',\n        \"device\": alexa_device\n    }\n}\nmsg = { \"payload\": payload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":100,"wires":[["5590d2e8.b9c434"]]},{"id":"5590d2e8.b9c434","type":"alexa-remote-routine","z":"ee39999b.68b5a","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":440,"y":100,"wires":[[]]},{"id":"97d322ad.f51ee8","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_sizes');\nlet option = [];\n\nfound.forEach ( line => {\n    var device = line.pollici;\n    option.push (device);\n})\nmsg.options = option;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":460,"wires":[["2010aeb5.7ac782"]]},{"id":"3c402fb4.1af12","type":"change","z":"d591106.1f4267","name":"","rules":[{"t":"set","p":"tv_device_size","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":140,"wires":[[]]},{"id":"e2355f84.075dd8","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":500,"wires":[["2010aeb5.7ac782"]]},{"id":"ba4c0bef.3899","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('tv_device_size') + \"' where name = 'tv_device_size';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":660,"wires":[["da0b02e4.761988"]]},{"id":"78fcca54.24187c","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_size","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["1267a420.3a5b7c"]]},{"id":"54e0630e.0d8964","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":660,"wires":[["ba4c0bef.3899"]]},{"id":"b141bb3.e1dc3c8","type":"function","z":"22e8c15.1224cbe","name":"show chessboard","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\n//imposto l'esame a vista - serve per recuperare le risposte alexa solo qui\nglobal.set('current_exam', 'V');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": 'Ora verrà visualizzata una scacchiera per la calibrazione della televisione. Utilizza l\\'app per inquadrare la scacchiera dalla posizione in cui effettuerai l\\'esame quindi premi, invia',\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":100,"wires":[["450ead95.365134"]]},{"id":"450ead95.365134","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":420,"y":100,"wires":[["339f6de5.0eae32"]]},{"id":"3a391e64.5d6782","type":"function","z":"22e8c15.1224cbe","name":"start exam","func":"var alexa_device = global.get('alexa_device');\nvar tv_pollici = global.get('tv_device_pollici');\nvar tv_res = global.get('tv_device_res');\nvar sensorWidth = msg.payload.sensorWidth;\nvar chessWidth = msg.payload.chessWidth;\nvar focalLength = msg.payload.focalLength;\nvar imageWidth = msg.payload.imageWidth;\nvar alexa_volume = global.get('alexa_speak_volume');\nvar tv_chess_width = 1000;\n\nglobal.set('sensorWidth', sensorWidth);\nglobal.set('chessWidth', chessWidth);\nglobal.set('focalLength', focalLength);\nglobal.set('imageWidth', imageWidth);\n\n//conversione pollici - mm\nvar tv_cm = tv_pollici * 254;\nvar width = (tv_cm / tv_res) * tv_chess_width;\n\n// <phoneme alphabet=\"ipa\" ph=\"optomˈɛtrica\">\nvar distance = (focalLength * width * imageWidth) / (chessWidth * sensorWidth);\ndistance = Math.round(distance * 100) / 100;\n//conversione in cm\ndistance = distance / 10;\nnode.warn(\"distanza: \" + distance);\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": 'Bene sei a ' + distance + ' cm dalla televisione. Ora visualizzerai una tavola optometrica. Ti verrà detto di leggere una riga della tavola, leggi una lettera per volta, lentamente. Dopo aver letto la riga di, fine.',\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":200,"wires":[["b8dcd02d.42361"]]},{"id":"b8dcd02d.42361","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":500,"y":200,"wires":[["fe2189e3.e6ac2"]]},{"id":"f1a22e55.d24468","type":"function","z":"22e8c15.1224cbe","name":"prepare skill statement","func":"var alexa_device = global.get('alexa_device');\nvar skill = msg.payload;\n\nvar payload = {\"type\": \"skill\",\n    payload:\n    {\n        'skill': skill,\n        \"device\": alexa_device\n    }\n}\nmsg = { \"payload\": payload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":160,"wires":[["5b6cba5b.67a96c","47e6c0b5.eb2a48"]]},{"id":"5b6cba5b.67a96c","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1660,"y":160,"wires":[[]]},{"id":"7fea0a49.8efcc4","type":"alexa-remote-event","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","event":"ws-device-activity","x":130,"y":520,"wires":[["4e86431d.32f304"]]},{"id":"4e86431d.32f304","type":"function","z":"22e8c15.1224cbe","name":"tolower","func":"if(global.get('current_exam') !== 'V'){\n    return null;\n}\n\nmsg.payload = msg.payload.description.summary;\nmsg.payload = msg.payload.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":520,"wires":[["f081f511.1f325","d5f416df.8bf23","7dac201e.08f8d8"]]},{"id":"f081f511.1f325","type":"switch","z":"22e8c15.1224cbe","name":"switch commands","property":"payload.alexaResponse","propertyType":"msg","rules":[{"t":"cont","v":"leggi la prima riga","vt":"str"},{"t":"cont","v":"leggi la seconda riga","vt":"str"},{"t":"cont","v":"leggi la terza riga","vt":"str"},{"t":"cont","v":"leggi la quarta riga","vt":"str"},{"t":"cont","v":"leggi la quinta riga","vt":"str"},{"t":"cont","v":"leggi la sesta riga","vt":"str"},{"t":"cont","v":"leggi la settima riga","vt":"str"},{"t":"cont","v":"leggi la ottava riga","vt":"str"},{"t":"cont","v":"leggi la nona riga","vt":"str"},{"t":"cont","v":"leggi la decima riga","vt":"str"},{"t":"cont","v":"leggi la undicesima riga","vt":"str"}],"checkall":"false","repair":false,"outputs":11,"x":550,"y":840,"wires":[["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"],["f14f66f8.27f69"]]},{"id":"f14f66f8.27f69","type":"function","z":"22e8c15.1224cbe","name":"clear row response","func":"let response = [];\nlet variable = \"\";\nlet row = 1;\n\nswitch(msg.payload.split(' ')[2]){\n    case \"prima\":\n        variable = \"response1\";\n        row = 1;\n        break;\n    case \"seconda\":\n        variable = \"response2\";\n        row = 2;\n        break;\n    case \"terza\":\n        variable = \"response3\";\n        row = 3;\n        break;\n    case \"quarta\":\n        variable = \"response4\";\n        row = 4;\n        break;\n    case \"quinta\":\n        variable = \"response5\";\n        row = 5;\n        break;\n    case \"sesta\":\n        variable = \"response6\";\n        row = 6;\n        break;\n    case \"settima\":\n        variable = \"response7\";\n        row = 7;\n        break;\n    case \"ottava\":\n        variable = \"response8\";\n        row = 8;\n        break;\n    case \"nona\":\n        variable = \"response9\";\n        row = 9;\n        break;\n    case \"decima\":\n        variable = \"response10\";\n        row = 10;\n        break;\n    case \"undicesima\":\n        variable = \"response11\";\n        row = 11;\n        break;\n}\n\nglobal.set('current_row', row);\nglobal.set(variable, response);\n\nmsg.payload = row;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":840,"wires":[[]]},{"id":"d5f416df.8bf23","type":"switch","z":"22e8c15.1224cbe","name":"switch commands","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"a.","vt":"str"},{"t":"eq","v":"b.","vt":"str"},{"t":"eq","v":"c.","vt":"str"},{"t":"eq","v":"si","vt":"str"},{"t":"eq","v":"d.","vt":"str"},{"t":"eq","v":"e.","vt":"str"},{"t":"eq","v":"f.","vt":"str"},{"t":"eq","v":"g.","vt":"str"},{"t":"eq","v":"h.","vt":"str"},{"t":"eq","v":"i.","vt":"str"},{"t":"eq","v":"l.","vt":"str"},{"t":"eq","v":"m.","vt":"str"},{"t":"eq","v":"n.","vt":"str"},{"t":"eq","v":"o.","vt":"str"},{"t":"eq","v":"no","vt":"str"},{"t":"eq","v":"p.","vt":"str"},{"t":"eq","v":"q.","vt":"str"},{"t":"eq","v":"r.","vt":"str"},{"t":"eq","v":"s.","vt":"str"},{"t":"eq","v":"t.","vt":"str"},{"t":"eq","v":"u.","vt":"str"},{"t":"eq","v":"v.","vt":"str"},{"t":"eq","v":"z.","vt":"str"},{"t":"eq","v":"x.","vt":"str"},{"t":"eq","v":"w.","vt":"str"},{"t":"eq","v":"y.","vt":"str"},{"t":"eq","v":"j.","vt":"str"},{"t":"eq","v":"k.","vt":"str"},{"t":"cont","v":"fine","vt":"str"},{"t":"cont","v":"basta","vt":"str"}],"checkall":"false","repair":false,"outputs":30,"x":550,"y":520,"wires":[["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["5ad8c298.3e2434"],["d3026ccd.ac55c"],["fa5ad0.ae7cc53"]]},{"id":"5ad8c298.3e2434","type":"function","z":"22e8c15.1224cbe","name":"save response to array","func":"var current_row = global.get('current_row');\nlet response = global.get('response' + current_row);\nlet value = msg.payload.split('.')[0];\n\nif(value === 'si'){\n    value = 'c';\n}\nif(value === 'no'){\n    value = 'o';\n}\n\nresponse.push(value);\n\nglobal.set('response' + current_row, response);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":520,"wires":[["e90dd46e.857fb8"]]},{"id":"e27130e3.48cdf8","type":"function","z":"22e8c15.1224cbe","name":"elaborate sequence","func":"var msg_video1 = null;\nvar msg_video2 = null;\nvar msg_end = null;\nvar msg_skill = { \"payload\" : \"\" };\nvar current_step = global.get('current_step');\n\nswitch (parseInt(current_step)){\n    case 0:\n        msg_skill = null;\n        break;\n    case 1:\n        msg_video1 = { \"payload\" : \"go\"};\n        msg_skill.payload = \"amzn1.ask.skill.1f4e3f0c-9da1-4987-ad02-8378918bc1b4\";\n        break;\n    case 2:\n        msg_skill.payload = \"amzn1.ask.skill.7028336b-ae64-4a2b-a982-81393303af18\";\n        break;\n    case 3:\n        msg_skill.payload = \"amzn1.ask.skill.f0b1e27e-5208-460c-86f0-64143aefdc25\";\n        break;\n    case 4:\n        msg_skill.payload = \"amzn1.ask.skill.6c93c5aa-eb47-4854-91a0-7cea01051a7d\";\n        break;\n    case 5:\n        msg_skill.payload = \"amzn1.ask.skill.acff0fe2-7822-42ac-b020-b365624ecb2a\";\n        break;\n    case 6:\n        msg_skill.payload = \"amzn1.ask.skill.ce557e86-404c-4f4f-8d3e-184ff91898f6\";\n        break;\n    case 7:\n        msg_video2 = { \"payload\" : \"go\"};\n        msg_skill.payload = \"amzn1.ask.skill.01d100ff-c0c4-4f91-91d8-7e764c506d55\";\n        break;\n    case 8:\n        msg_skill.payload = \"amzn1.ask.skill.7e7a0643-617d-44d0-aea9-2b04a466a639\";\n        break;\n    case 9:\n        msg_skill.payload = \"amzn1.ask.skill.c7dc467f-8242-45bb-8b4a-bf03bf0950f1\";\n        break;\n    case 10:\n        msg_skill.payload = \"amzn1.ask.skill.6888c2df-7ee6-48f1-8ba8-dfd6d4fb2c3e\";\n        break;\n    case 11:\n        msg_skill.payload = \"amzn1.ask.skill.6888c2df-7ee6-48f1-8ba8-dfd6d4fb2c3e\";\n        break;\n    case 12:\n        msg_skill = null;\n        msg_video1 = null;\n        msg_video2 = null;\n        msg_end = { \"payload\" : \"end\"};\n        break;\n}\n\nreturn [msg_skill, msg_video1, msg_video2, msg_end];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1030,"y":200,"wires":[["49b5f0a6.a46f98"],["84af538c.e9af98"],["16de89d4.01b33e"],["c113a2c5.d0ed68"]]},{"id":"9a699afa.5b4bf8","type":"http in","z":"22e8c15.1224cbe","name":"","url":"/calibrate","method":"post","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["6dc92cdc.a6a9fc","2d110d9f.faeea2","3a391e64.5d6782"]]},{"id":"6dc92cdc.a6a9fc","type":"template","z":"22e8c15.1224cbe","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":290,"y":160,"wires":[["2eafb737.00157"]]},{"id":"2eafb737.00157","type":"http response","z":"22e8c15.1224cbe","name":"","x":430,"y":160,"wires":[]},{"id":"2d110d9f.faeea2","type":"debug","z":"22e8c15.1224cbe","name":"app distancefinder msg in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"d65d5361.d33238","type":"http in","z":"ee39999b.68b5a","name":"","url":"/audioresult","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["6bc0f8cb.412f08","7a68b98a.4fc67","f4e23353.f91bd8"]]},{"id":"6bc0f8cb.412f08","type":"template","z":"ee39999b.68b5a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":290,"y":160,"wires":[["c3ee4638.5e026"]]},{"id":"c3ee4638.5e026","type":"http response","z":"ee39999b.68b5a","name":"","x":430,"y":160,"wires":[]},{"id":"7a68b98a.4fc67","type":"debug","z":"ee39999b.68b5a","name":"audio skill result msg in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"f4e23353.f91bd8","type":"function","z":"ee39999b.68b5a","name":"exam results","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\nvar text_message = \"Bene, l'esame è terminato, sto elaborando le tue risposte... \";\nvar results = msg.req._parsedUrl.query;\nresults = results.substring(5);\n\nif(parseInt(results) > 6){\n    text_message += \"Dai risultati sembra che tu possa avere dei moderati problemi di udito, rivolgiti ad uno specialista per un controllo completo\";\n}else\nif(parseInt(results) > 8){\n    text_message += \"Dai risultati sembra che tu possa avere dei gravi problemi di udito, rivolgiti ad uno specialista per un controllo completo\";\n}else\n{\n    text_message += \"Dai risultati sembra che tu riesca ad ascoltare bene\";\n}\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": text_message,\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["9a7729f5.52f67"]]},{"id":"9a7729f5.52f67","type":"alexa-remote-routine","z":"ee39999b.68b5a","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":500,"y":300,"wires":[[]]},{"id":"1267a420.3a5b7c","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_sizes');\nvar tv_size = global.get('tv_device_size');\nlet pollici = \"\";\n\nfound.forEach ( line => {\n    if(line.pollici === tv_size){\n        pollici = line.pollici;\n    }\n})\nmsg.payload = pollici;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":480,"wires":[["4f6b922b.e7796c"]]},{"id":"4f6b922b.e7796c","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_pollici","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":480,"wires":[[]]},{"id":"2f6e6d08.78a28a","type":"debug","z":"22e8c15.1224cbe","name":"error visual exam","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"3bc7749f.5e04e4","type":"catch","z":"ee39999b.68b5a","name":"","scope":null,"uncaught":false,"x":100,"y":40,"wires":[["f4c9f5b.a6f1e08"]]},{"id":"f4c9f5b.a6f1e08","type":"debug","z":"ee39999b.68b5a","name":"error audio exam","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"fe2189e3.e6ac2","type":"delay","z":"22e8c15.1224cbe","name":"","pauseType":"delay","timeout":"18","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":200,"wires":[["8fefb2ce.8d0ed"]]},{"id":"8fefb2ce.8d0ed","type":"function","z":"22e8c15.1224cbe","name":"","func":"msg = { \"payload\": \"1\" };\n\nglobal.set('current_step', 1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":200,"wires":[["e27130e3.48cdf8"]]},{"id":"47e6c0b5.eb2a48","type":"debug","z":"22e8c15.1224cbe","name":"run skill","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1640,"y":120,"wires":[]},{"id":"eab21643.fc37a","type":"catch","z":"22e8c15.1224cbe","name":"","scope":null,"uncaught":false,"x":100,"y":40,"wires":[["2f6e6d08.78a28a"]]},{"id":"d3026ccd.ac55c","type":"function","z":"22e8c15.1224cbe","name":"next step","func":"var current_step = global.get('current_step');\ncurrent_step = parseInt(current_step) + 1;\nglobal.set('current_step', current_step);\n\nmsg = { \"payload\": current_step };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":700,"wires":[["e27130e3.48cdf8","9afcda0e.8bef38"]]},{"id":"7dac201e.08f8d8","type":"debug","z":"22e8c15.1224cbe","name":"alexa vista in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":330,"y":580,"wires":[]},{"id":"e90dd46e.857fb8","type":"debug","z":"22e8c15.1224cbe","name":"save response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1120,"y":520,"wires":[]},{"id":"9afcda0e.8bef38","type":"debug","z":"22e8c15.1224cbe","name":"next step","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1020,"y":700,"wires":[]},{"id":"339f6de5.0eae32","type":"function","z":"22e8c15.1224cbe","name":"","func":"msg = \n{\n  payload: {\n    app: \"DefaultMediaReceiver\",\n    type: \"MEDIA\",\n    media: {\n      url: \"https://www.overside.it/unicam/videoexam/chessboard.mp4\",\n      contentType: \"video/mp4\", \n      streamType: \"BUFFERED\"\n    }\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":100,"wires":[["3f71ef50.65da48"]]},{"id":"84af538c.e9af98","type":"function","z":"22e8c15.1224cbe","name":"","func":"msg = \n{\n  payload: {\n    app: \"DefaultMediaReceiver\",\n    type: \"MEDIA\",\n    media: {\n      url: \"https://www.overside.it/unicam/videoexam/optometrica1.mp4\",\n      contentType: \"video/mp4\", \n      streamType: \"BUFFERED\"\n    }\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":220,"wires":[["42a220c7.2427c"]]},{"id":"16de89d4.01b33e","type":"function","z":"22e8c15.1224cbe","name":"","func":"msg = \n{\n  payload: {\n    app: \"DefaultMediaReceiver\",\n    type: \"MEDIA\",\n    media: {\n      url: \"https://www.overside.it/unicam/videoexam/optometrica2.mp4\",\n      contentType: \"video/mp4\", \n      streamType: \"BUFFERED\"\n    }\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":260,"wires":[["e40b9f96.ae8c4"]]},{"id":"ac8cb9b8.cd0a48","type":"change","z":"d591106.1f4267","name":"","rules":[{"t":"set","p":"tv_device_res","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":180,"wires":[[]]},{"id":"e51f8ff4.06d0a8","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":700,"wires":[["36a929a6.80e7e6"]]},{"id":"36a929a6.80e7e6","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('tv_device_res') + \"' where name = 'tv_device_res';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":700,"wires":[["793619b4.ab9ad8"]]},{"id":"4345bb67.7f8b44","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_res');\nlet option = [];\n\nfound.forEach ( line => {\n    var device = line.nome;\n    option.push (device);\n})\nmsg.options = option;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":540,"wires":[["b00454eb.2d6b88"]]},{"id":"16cdd624.1e01fa","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":580,"wires":[["b00454eb.2d6b88"]]},{"id":"ad998049.7d44a8","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_res","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":560,"wires":[[]]},{"id":"3c7721c0.603bf6","type":"function","z":"1c2e132b.ce94cd","name":"start exam","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\n//imposto l'esame a daltonismo - serve per recuperare le risposte alexa solo qui\nglobal.set('current_exam', 'D');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": 'Ora visualizzerai delle tavole con dei numeri, dovrai dire quale numero vedi in ogni tavola o zero se non vedi nulla. Dopo aver letto la tavola di, fine.',\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":100,"wires":[["7a512eb5.955fe8"]]},{"id":"7a512eb5.955fe8","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":400,"y":100,"wires":[["5421547d.52387c"]]},{"id":"5f42f944.e8b858","type":"function","z":"1c2e132b.ce94cd","name":"prepare skill statement","func":"var alexa_device = global.get('alexa_device');\nvar skill = msg.payload;\n\nvar payload = {\"type\": \"skill\",\n    payload:\n    {\n        'skill': skill,\n        \"device\": alexa_device\n    }\n}\nmsg = { \"payload\": payload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1340,"y":80,"wires":[["cb2d56b8.5afdf8"]]},{"id":"cb2d56b8.5afdf8","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1560,"y":80,"wires":[[]]},{"id":"cab66017.e781c","type":"alexa-remote-event","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","event":"ws-device-activity","x":130,"y":260,"wires":[["3c1fbbc1.3d83cc"]]},{"id":"3c1fbbc1.3d83cc","type":"function","z":"1c2e132b.ce94cd","name":"tolower","func":"\nif(global.get('current_exam') !== 'D'){\n    return null;\n}\n\nmsg.payload = msg.payload.description.summary;\nmsg.payload = msg.payload.toLowerCase();\n\nif(msg.payload === '') {\n    msg = null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":260,"wires":[["857107c1.ad47f","cdf5169d.d1cd38"]]},{"id":"1d32d713.ecf749","type":"function","z":"1c2e132b.ce94cd","name":"clear response array","func":"for (i = 1; i < 30; i++){\n    global.set('response' + i, '');\n}\nglobal.set('current_row', 0);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":240,"y":140,"wires":[]},{"id":"cdf5169d.d1cd38","type":"switch","z":"1c2e132b.ce94cd","name":"switch commands","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"fine","vt":"str"},{"t":"eq","v":"si","vt":"str"},{"t":"eq","v":"sì","vt":"str"},{"t":"cont","v":"basta","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":5,"x":510,"y":260,"wires":[["ce2aecf7.13f9b"],["ce2aecf7.13f9b"],["ce2aecf7.13f9b"],["65e6663f.594358"],["e44a7427.0f9c28"]]},{"id":"47f8d85a.8cb778","type":"function","z":"1c2e132b.ce94cd","name":"save response","func":"var current_row = global.get('current_row');\nlet response;\nlet value = msg.payload;\n\nif(isNaN(value)){\n    msg = null;\n}else{\n    response = value;\n    global.set('response' + current_row, response);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":300,"wires":[["44cb8fc0.0ef0e8"]]},{"id":"a1155eb7.a64838","type":"function","z":"1c2e132b.ce94cd","name":"elaborate sequence","func":"var msg_video = { \"payload\" : \"\" };\nvar msg_skill = { \"payload\" : \"\" };\nvar current_step = global.get('current_step');\n\nmsg_skill.payload = \"amzn1.ask.skill.4b757cf4-71aa-47ca-b343-4f69b39c2a39\";\n\nswitch (parseInt(current_step)){\n    case 0:\n        msg_skill = null;\n        msg_video = null;\n        break;\n    default:\n        msg_video.payload = \"https://www.overside.it/unicam/videoexam/tavola\" + current_step + \".mp4\";\n    break;\n}\n\nreturn [msg_skill, msg_video];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":930,"y":100,"wires":[["16e04df1.8788ea"],["66f54112.e3ac58"]]},{"id":"74cbe269.b27734","type":"debug","z":"1c2e132b.ce94cd","d":true,"name":"error visual exam","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"5421547d.52387c","type":"delay","z":"1c2e132b.ce94cd","name":"","pauseType":"delay","timeout":"13","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":100,"wires":[["980aca1c.90e94"]]},{"id":"980aca1c.90e94","type":"function","z":"1c2e132b.ce94cd","name":"","func":"msg = { \"payload\": \"1\" };\n\nglobal.set('current_step', 1);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":100,"wires":[["a1155eb7.a64838"]]},{"id":"dbf496e1.d58798","type":"catch","z":"1c2e132b.ce94cd","d":true,"name":"","scope":null,"uncaught":false,"x":100,"y":40,"wires":[["74cbe269.b27734"]]},{"id":"ce2aecf7.13f9b","type":"function","z":"1c2e132b.ce94cd","name":"next step","func":"var msg_end = null;\nvar current_step = global.get('current_step');\n\ncurrent_step = parseInt(current_step) + 1;\nglobal.set('current_step', current_step);\n\nmsg = { \"payload\": current_step };\n\nif(current_step > 26){\n    msg = null;\n    msg_end = { \"payload\": \"end\"}\n}\n\nreturn [msg, msg_end];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":700,"y":220,"wires":[["dfcca8b6.feda2","a1155eb7.a64838"],["e36c89d1.f5bff8"]]},{"id":"857107c1.ad47f","type":"debug","z":"1c2e132b.ce94cd","name":"alexa daltonismo in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":320,"wires":[]},{"id":"44cb8fc0.0ef0e8","type":"debug","z":"1c2e132b.ce94cd","name":"save response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1180,"y":300,"wires":[]},{"id":"dfcca8b6.feda2","type":"debug","z":"1c2e132b.ce94cd","name":"next step","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":900,"y":140,"wires":[]},{"id":"66f54112.e3ac58","type":"function","z":"1c2e132b.ce94cd","name":"","func":"msg = \n{\n  payload: {\n    app: \"DefaultMediaReceiver\",\n    type: \"MEDIA\",\n    media: {\n      url: msg.payload,\n      contentType: \"video/mp4\", \n      streamType: \"BUFFERED\"\n    }\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":120,"wires":[["ca71874c.f99aa"]]},{"id":"cadf7eb4.f3c82","type":"function","z":"1c2e132b.ce94cd","name":"exam ended","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": 'Bene, esame terminato, sto elaborando le tue risposte...',\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":220,"wires":[["852d8ad8.866bb"]]},{"id":"852d8ad8.866bb","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1340,"y":220,"wires":[[]]},{"id":"c113a2c5.d0ed68","type":"function","z":"22e8c15.1224cbe","name":"exam ended","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": 'Bene, esame terminato, sto elaborando le tue risposte...',\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":320,"wires":[["d8af94eb.234168"]]},{"id":"d8af94eb.234168","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1440,"y":320,"wires":[["41dcd04c.435ea8"]]},{"id":"35789987.1cad16","type":"function","z":"325c32a5.1a51de","name":"","func":"var Small = {\n    'zero': 0,\n    'uno': 1,\n    'due': 2,\n    'tre': 3,\n    'quattro': 4,\n    'cinque': 5,\n    'sei': 6,\n    'sette': 7,\n    'otto': 8,\n    'nove': 9,\n    'dieci': 10,\n    'undici': 11,\n    'dodici': 12,\n    'tredici': 13,\n    'quattordici': 14,\n    'quindici': 15,\n    'sedici': 16,\n    'diciassette': 17,\n    'diciotto': 18,\n    'diciannove': 19,\n    'venti': 20,\n    'vent': 20,\n    'trenta': 30,\n    'trent': 30,\n    'quaranta': 40,\n    'quarant': 40,\n    'cinquanta': 50,\n    'cinquant': 50,\n    'sessanta': 60,\n    'sessant': 60,\n    'settanta': 70,\n    'settant': 70,\n    'ottanta': 80,\n    'ottant': 80,\n    'novanta': 90,\n    'novant': 90\n};\n\nvar a = msg.payload.toString().split(/[\\s-]+/);\nvar n = 0;\n\na.forEach(element => {\n    n = n + Small[element];    \n});\n\nmsg.payload = n;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":80,"wires":[[]]},{"id":"e44a7427.0f9c28","type":"subflow:325c32a5.1a51de","z":"1c2e132b.ce94cd","name":"","env":[],"x":750,"y":300,"wires":[["47f8d85a.8cb778"]]},{"id":"16e04df1.8788ea","type":"delay","z":"1c2e132b.ce94cd","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":80,"wires":[["5f42f944.e8b858"]]},{"id":"49b5f0a6.a46f98","type":"delay","z":"22e8c15.1224cbe","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":160,"wires":[["f1a22e55.d24468"]]},{"id":"65e6663f.594358","type":"function","z":"1c2e132b.ce94cd","name":"stop","func":"var alexa_device = global.get('alexa_device');\n\nvar payload = {\"type\": \"stop\",\n    payload:\n    {\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":260,"wires":[["18aa307f.8adbe8"]]},{"id":"18aa307f.8adbe8","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":900,"y":260,"wires":[["558533cc.40254c"]]},{"id":"7d502300.873a64","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1080,"y":760,"wires":[[]]},{"id":"fa5ad0.ae7cc53","type":"function","z":"22e8c15.1224cbe","name":"stop","func":"var alexa_device = global.get('alexa_device');\n\nvar payload = {\"type\": \"stop\",\n    payload:\n    {\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":850,"y":760,"wires":[["7d502300.873a64"]]},{"id":"558533cc.40254c","type":"function","z":"1c2e132b.ce94cd","name":"exam aborted","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": \"L'esame non è stato completato, effettua nuovamente l'esame quando vuoi\",\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":260,"wires":[["b5bc4b22.d6aa58"]]},{"id":"b5bc4b22.d6aa58","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1340,"y":260,"wires":[[]]},{"id":"41dcd04c.435ea8","type":"function","z":"22e8c15.1224cbe","name":"exam aborted","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": \"L'esame non è stato completato, effettua nuovamente l'esame quando vuoi\",\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1640,"y":320,"wires":[["e1be8f46.1e2a2"]]},{"id":"e1be8f46.1e2a2","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1840,"y":320,"wires":[[]]},{"id":"e36c89d1.f5bff8","type":"subflow:3b8680bc.495b08","z":"1c2e132b.ce94cd","name":"","env":[],"x":910,"y":220,"wires":[["cadf7eb4.f3c82"]]},{"id":"e20d5ac3.473678","type":"function","z":"3b8680bc.495b08","name":"","func":"\nfor (i = 1; i < 30; i++){\n    node.warn(i + ' -> ' + global.get('response' + i));\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":80,"wires":[[]]},{"id":"c7f63fbb.3eeb9","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"Alexa refresh","group":"77bb108.155f57","order":1,"width":0,"height":0,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":490,"y":160,"wires":[["eddb07c2.704968"]]},{"id":"36fa0c04.0845fc","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"save alexa","group":"77bb108.155f57","order":3,"width":0,"height":0,"passthru":false,"label":"Salva","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":220,"wires":[["39f6c926.5be19e"]]},{"id":"57cc1675.3fdbf","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"","group":"e9d42dd7.5b2c18","order":1,"width":"0","height":"0","passthru":false,"label":"Visualizza indirizzi IP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":420,"wires":[["aa2be1b2.b0cdd"]]},{"id":"8c8204f5.1189f","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"save tv","group":"e9d42dd7.5b2c18","order":5,"width":0,"height":0,"passthru":false,"label":"Salva","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":500,"y":620,"wires":[["5b4a931.c08e76c","54e0630e.0d8964","e51f8ff4.06d0a8"]]},{"id":"9487a823.3c641","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"Device:","tooltip":"","place":"Selezionare il dispositivo","group":"77bb108.155f57","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1100,"y":160,"wires":[["3431652f.24f9ba"]]},{"id":"b9d3b8bb.17c2f","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"","tooltip":"","place":"Selezionare un dispositivo","group":"e9d42dd7.5b2c18","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1080,"y":420,"wires":[[]]},{"id":"2010aeb5.7ac782","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"Pollici:","tooltip":"","place":"Selezionare la dimensione della TV","group":"e9d42dd7.5b2c18","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":670,"y":480,"wires":[["78fcca54.24187c"]]},{"id":"b00454eb.2d6b88","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"Risoluzione:","tooltip":"","place":"Selezionare la risoluzione della TV","group":"e9d42dd7.5b2c18","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":690,"y":560,"wires":[["ad998049.7d44a8"]]},{"id":"c754a4c0.f7d3d8","type":"ui_text_input","z":"e8b7cfc5.2ce4b","name":"","label":"IP TV: ","tooltip":"","group":"e9d42dd7.5b2c18","order":3,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":490,"y":360,"wires":[["33c68cd7.b6dc84"]]},{"id":"280d0b1f.1184bc","type":"ui_toast","z":"e8b7cfc5.2ce4b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Salvataggio effettuato!","name":"save complete","x":1220,"y":320,"wires":[]},{"id":"7271659c.879e6c","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"select * from  configuration;","name":"read configuration","x":290,"y":120,"wires":[["73ce553c.e7d9fc"]]},{"id":"8d1a7e85.ab60d8","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":940,"y":220,"wires":[["280d0b1f.1184bc"]]},{"id":"f2d4e812.e2dc6","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1060,"y":620,"wires":[["280d0b1f.1184bc"]]},{"id":"da0b02e4.761988","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1060,"y":660,"wires":[[]]},{"id":"793619b4.ab9ad8","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1060,"y":700,"wires":[[]]},{"id":"3f71ef50.65da48","type":"castv2-sender","z":"e8b7cfc5.2ce4b","name":"","connection":"5448328f.4c6494","x":780,"y":100,"wires":[[]]},{"id":"42a220c7.2427c","type":"castv2-sender","z":"e8b7cfc5.2ce4b","name":"","connection":"5448328f.4c6494","x":1420,"y":220,"wires":[[]]},{"id":"e40b9f96.ae8c4","type":"castv2-sender","z":"e8b7cfc5.2ce4b","name":"","connection":"5448328f.4c6494","x":1420,"y":260,"wires":[[]]},{"id":"ca71874c.f99aa","type":"castv2-sender","z":"e8b7cfc5.2ce4b","name":"","connection":"5448328f.4c6494","x":1320,"y":120,"wires":[[]]}]