node_red/flow_node-red.js
[{"id":"d8282f32.312a2","type":"tab","label":"Main","disabled":false,"info":""},{"id":"e8b7cfc5.2ce4b","type":"tab","label":"UI","disabled":false,"info":""},{"id":"448a7e69.b22e28","type":"tab","label":"Unit Test","disabled":false,"info":""},{"id":"d591106.1f4267","type":"subflow","name":"read configuration","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"68fdd77e.a419f8"},{"id":"7271659c.879e6c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"22e8c15.1224cbe","type":"subflow","name":"esame vista","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"d83d7e97.7e76e"},{"id":"8eb53a1f.e4ae78"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"1c2e132b.ce94cd","type":"subflow","name":"esame daltonismo","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"1d32d713.ecf749"},{"id":"f5b94afe.2dd98"},{"id":"41232bb.79fe8d4"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"3ea7e4c7.cd9404","type":"subflow","name":"Alexa","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"ee39999b.68b5a","type":"subflow","name":"esame udito","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"3c231ceb.b056bc"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"325c32a5.1a51de","type":"subflow","name":"ConvertWordsToNumber","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"35789987.1cad16"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"35789987.1cad16","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3b8680bc.495b08","type":"subflow","name":"ElaborateDaltonismo","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"e20d5ac3.473678"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"e20d5ac3.473678","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"94a0a250.8c8b78","type":"subflow","name":"ScanSubnet","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"e6e49d53.ab7258","type":"subflow","name":"ElaborateVista","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"dba743a7.e1118"}]}],"out":[{"x":300,"y":80,"wires":[{"id":"dba743a7.e1118","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"bf6c643.0a83198","type":"subflow","name":"Create tables","info":"","category":"","in":[],"out":[{"x":1040,"y":240,"wires":[{"id":"7c32d679.036f","port":0},{"id":"eba65a09.389528","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d37d8f66.577de","type":"subflow","name":"ConverImage","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"a64b97.94c8fc68"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"81db36c8.ca3b58","type":"subflow","name":"localhost GetImages","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"fbab9837.1c28f8","type":"alexa-remote-account","name":"Alexa Account","authMethod":"proxy","proxyOwnIp":"localhost","proxyPort":"3456","cookieFile":"authFile","refreshInterval":"3","alexaServiceHost":"alexa.amazon.it","amazonPage":"amazon.it","acceptLanguage":"it-IT","userAgent":"","useWsMqtt":"on","autoInit":"off"},{"id":"989f67bf.e64b6","type":"ui_tab","name":"Alexa","icon":"dashboard","disabled":false,"hidden":false},{"id":"7980dfd1.00f528","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77bb108.155f57","type":"ui_group","name":"Alexa","tab":"989f67bf.e64b6","order":1,"disp":true,"width":"6","collapse":false},{"id":"85a78666.a0619","type":"sqlitedb","db":"dbexams.db","mode":"RWC"},{"id":"47bdb46e.96852c","type":"ui_tab","name":"TV Cast","icon":"dashboard","disabled":false,"hidden":false},{"id":"e9d42dd7.5b2c18","type":"ui_group","name":"Configurazione TV","tab":"47bdb46e.96852c","order":1,"disp":true,"width":"6","collapse":false},{"id":"b76c6c83.4fd1d8","type":"ui_tab","name":"Risultati","icon":"dashboard","disabled":false,"hidden":false},{"id":"7be9c692.cbebd","type":"ui_group","name":"Risultati","tab":"b76c6c83.4fd1d8","order":1,"disp":true,"width":"19","collapse":false},{"id":"5209d0b2.496318","type":"alexa-remote-event","z":"3ea7e4c7.cd9404","name":"","account":"fbab9837.1c28f8","event":"ws-device-activity","x":110,"y":120,"wires":[["75fe2a62.21cf5c"]]},{"id":"75fe2a62.21cf5c","type":"function","z":"3ea7e4c7.cd9404","name":"tolower","func":"msg.payload = msg.payload.description.summary;\nmsg.payload = msg.payload.toLowerCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":120,"wires":[["1e1c5cc7.e3c043"]]},{"id":"68fdd77e.a419f8","type":"function","z":"d591106.1f4267","name":"set global variables","func":"var tv_sizes = [\n    { \"pollici\": 22, \"larghezza\":49, \"altezza\": 28, \"diagonale\":49 },\n    { \"pollici\": 24, \"larghezza\":56, \"altezza\": 34, \"diagonale\":60 },\n    { \"pollici\": 28, \"larghezza\":65, \"altezza\": 40, \"diagonale\":71 },\n    { \"pollici\": 32, \"larghezza\":73, \"altezza\": 44, \"diagonale\":80 },\n    { \"pollici\": 40, \"larghezza\":90, \"altezza\": 51, \"diagonale\":100 },\n    { \"pollici\": 43, \"larghezza\":97, \"altezza\": 57, \"diagonale\":108 },\n    { \"pollici\": 48, \"larghezza\":108, \"altezza\": 62, \"diagonale\":122 },\n    { \"pollici\": 49, \"larghezza\":111, \"altezza\": 64, \"diagonale\":123 },\n    { \"pollici\": 55, \"larghezza\":124, \"altezza\": 73, \"diagonale\":139 },\n    { \"pollici\": 60, \"larghezza\":136, \"altezza\": 80, \"diagonale\":152 },\n    { \"pollici\": 65, \"larghezza\":145, \"altezza\": 90, \"diagonale\":164 },\n    { \"pollici\": 75, \"larghezza\":168, \"altezza\": 96, \"diagonale\":189 },\n    { \"pollici\": 88, \"larghezza\":197, \"altezza\": 120, \"diagonale\":223 },\n];\nglobal.set(\"tv_sizes\", tv_sizes);\n\nvar tv_res = [\n    { \"nome\": \"576p (720x576)\", \"larghezza\": 720, \"altezza\" : 576 },\n    { \"nome\": \"720p (HD) (1280x720)\", \"larghezza\": 1280, \"altezza\" : 720 },\n    { \"nome\": \"1080p (Full HD) (1920x1080)\", \"larghezza\": 1920, \"altezza\" : 1080 },\n    { \"nome\": \"2K (2048x1080)\", \"larghezza\": 2048, \"altezza\" : 1080 },\n    { \"nome\": \"2160p (Ultra HD) 4K (3840x2160)\", \"larghezza\": 3840, \"altezza\" : 2160 },\n    { \"nome\": \"8K (7680x4320)\", \"larghezza\": 7680, \"altezza\" : 4320 },\n];\nglobal.set(\"tv_res\", tv_res);\n\nglobal.set(\"alexa_speak_volume\", \"50\");\n\nglobal.set(\"current_step\", \"0\");\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":310,"y":60,"wires":[]},{"id":"7271659c.879e6c","type":"sqlite","z":"d591106.1f4267","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"select * from  configuration;","name":"read configuration","x":310,"y":120,"wires":[["73ce553c.e7d9fc"]]},{"id":"73ce553c.e7d9fc","type":"function","z":"d591106.1f4267","name":"retrieve configuration","func":"var alexa_device = '';\nvar tv_device = '';\nvar tv_device_size = '';\nvar tv_device_res = '';\nvar tv_device_res_width= 0;\nvar tv_decice_res_height = 0;\nvar alexa_username = '';\nvar alexa_password = '';\nvar tv_device_size_width = 0;\nvar mode = \"L\";\n\nlet tvres = global.get('tv_res');\nlet tvsizes = global.get('tv_sizes');\n\nmsg.payload.forEach(function (item) { \n    \n    switch (item.NAME){\n        case \"alexa_device\":\n            alexa_device = item.VALUE;\n            break;\n        case \"alexa_username\":\n            alexa_username = item.VALUE;\n            break;\n        case \"alexa_password\":\n            alexa_password = item.VALUE;\n            break;\n        case \"tv_device\":\n            tv_device = item.VALUE;\n            break;\n        case \"mode\":\n            mode = item.VALUE;\n            break;\n        case \"tv_device_size\":\n            tv_device_size = item.VALUE;\n            var width = 0;\n            tvsizes.forEach ( line => {\n                if(line.pollici === value){\n                    width = line.larghezza;\n                }\n            });\n            tv_device_size_width = width;\n            break;\n        case \"tv_device_res\":\n            tv_device_res = item.VALUE;\n            var width = 0;\n            var height = 0;\n            var value = item.VALUE;\n            tvres.forEach ( line => {\n                if(line.nome === value){\n                    width = line.larghezza;\n                    height = line.altezza;\n                }\n            });\n            tv_device_res_width = width;\n            tv_device_res_height = height;\n            break;\n    }\n}); \n\nglobal.set('mode', mode);\nglobal.set('alexa_device', alexa_device);\nglobal.set('alexa_username', alexa_username);\nglobal.set('alexa_password', alexa_password);\nglobal.set('tv_device', tv_device);\nglobal.set('tv_device_size', tv_device_size);\nglobal.set('tv_device_res', tv_device_res);\nglobal.set('tv_device_res_width', tv_device_res_width);\nglobal.set('tv_device_res_height', tv_device_res_height);\nglobal.set('tv_device_size_width', tv_device_size_width);","outputs":0,"noerr":0,"initialize":"","finalize":"","x":560,"y":120,"wires":[]},{"id":"64de0202.cc7a6c","type":"inject","z":"e8b7cfc5.2ce4b","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payloadType":"str","x":90,"y":320,"wires":[["b854db08.ef22b"]]},{"id":"b854db08.ef22b","type":"function","z":"e8b7cfc5.2ce4b","name":"retrieve configuration","func":"var alexa_device_msg = null;\nvar tv_device_msg = null;\nvar tv_device_size_msg = null;\nvar tv_device_res_msg = null;\nvar alexa_username_msg = null;\nvar alexa_password_msg = null;\nvar mode_msg = null;\n\nalexa_device_msg = { payload: global.get('alexa_device') };\ntv_device_msg = { payload: global.get('tv_device') };\ntv_device_size_msg = { payload: global.get('tv_device_size') };\ntv_device_res_msg = { payload: global.get('tv_device_res') };\nalexa_username_msg = { payload: global.get('alexa_username') };\nalexa_password_msg = { payload: global.get('alexa_password') };\nmode_msg = { payload: global.get('mode') };\n\nreturn [alexa_device_msg, tv_device_msg, tv_device_size_msg, tv_device_res_msg, alexa_username_msg, alexa_password_msg, mode_msg];","outputs":7,"noerr":0,"initialize":"","finalize":"","x":280,"y":320,"wires":[["eddb07c2.704968","ad99fe7b.292588"],["c754a4c0.f7d3d8"],["97d322ad.f51ee8","e2355f84.075dd8"],["4345bb67.7f8b44","16cdd624.1e01fa"],["dc9651fa.aa99"],["960d2ae4.7add58"],["2bd22c6e.f30dac"]]},{"id":"c7f63fbb.3eeb9","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"Alexa refresh","group":"77bb108.155f57","order":3,"width":0,"height":0,"passthru":false,"label":"Elenco dispositivi","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":100,"wires":[["eddb07c2.704968"]]},{"id":"eddb07c2.704968","type":"alexa-remote-echo","z":"e8b7cfc5.2ce4b","name":"","account":"fbab9837.1c28f8","config":{"option":"get","value":{"what":"device","device":{"type":"str","value":"ALEXA_ALL_DSN"}}},"x":710,"y":100,"wires":[["26267f64.a9517"]]},{"id":"26267f64.a9517","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.accountName[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":100,"wires":[["9487a823.3c641"]]},{"id":"ad99fe7b.292588","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":60,"wires":[["9487a823.3c641"]]},{"id":"9487a823.3c641","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"Device:","tooltip":"","place":"Selezionare il dispositivo","group":"77bb108.155f57","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1100,"y":100,"wires":[["3431652f.24f9ba"]]},{"id":"3431652f.24f9ba","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"alexa_device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1310,"y":100,"wires":[[]]},{"id":"36fa0c04.0845fc","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"save alexa","group":"77bb108.155f57","order":5,"width":0,"height":0,"passthru":false,"label":"Salva","tooltip":"","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":240,"wires":[["39f6c926.5be19e","a133e9d0.7644c8","d8a0d398.e25a4"]]},{"id":"8d1a7e85.ab60d8","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1220,"y":240,"wires":[["280d0b1f.1184bc"]]},{"id":"39f6c926.5be19e","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('alexa_device').replace('\\'', '\\'\\'') + \"' where name = 'alexa_device';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":240,"wires":[["8d1a7e85.ab60d8"]]},{"id":"280d0b1f.1184bc","type":"ui_toast","z":"e8b7cfc5.2ce4b","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"Salvataggio effettuato!","name":"save complete","x":1460,"y":340,"wires":[]},{"id":"1e1c5cc7.e3c043","type":"switch","z":"3ea7e4c7.cd9404","name":"switch commands","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"esame occhi","vt":"str"},{"t":"cont","v":"esame degli occhi","vt":"str"},{"t":"cont","v":"esame visivo","vt":"str"},{"t":"cont","v":"esame della vista","vt":"str"},{"t":"cont","v":"esame vista","vt":"str"},{"t":"cont","v":"esame daltonismo","vt":"str"},{"t":"cont","v":"esame del daltonismo","vt":"str"},{"t":"cont","v":"esame daltonia","vt":"str"},{"t":"cont","v":"esame della daltonia","vt":"str"},{"t":"cont","v":"esame audio","vt":"str"},{"t":"cont","v":"esame udito","vt":"str"},{"t":"cont","v":"esame dell'udito","vt":"str"}],"checkall":"false","repair":false,"outputs":12,"x":510,"y":120,"wires":[["8beb3914.b4b6"],["8beb3914.b4b6"],["8beb3914.b4b6"],["8beb3914.b4b6"],["8beb3914.b4b6"],["5045181b.7f083"],["5045181b.7f083"],["5045181b.7f083"],["5045181b.7f083"],["d3948cd.742eaf"],["d3948cd.742eaf"],["d3948cd.742eaf"]]},{"id":"51a17728.7bca1","type":"subflow:3ea7e4c7.cd9404","z":"d8282f32.312a2","name":"","env":[],"x":70,"y":80,"wires":[]},{"id":"8beb3914.b4b6","type":"subflow:22e8c15.1224cbe","z":"3ea7e4c7.cd9404","name":"","env":[],"x":730,"y":80,"wires":[]},{"id":"5045181b.7f083","type":"subflow:1c2e132b.ce94cd","z":"3ea7e4c7.cd9404","name":"","env":[],"x":750,"y":120,"wires":[]},{"id":"d3948cd.742eaf","type":"subflow:ee39999b.68b5a","z":"3ea7e4c7.cd9404","name":"","env":[],"x":730,"y":160,"wires":[]},{"id":"c754a4c0.f7d3d8","type":"ui_text_input","z":"e8b7cfc5.2ce4b","name":"","label":"IP TV: ","tooltip":"","group":"e9d42dd7.5b2c18","order":3,"width":"0","height":"0","passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":490,"y":320,"wires":[["33c68cd7.b6dc84"]]},{"id":"57cc1675.3fdbf","type":"ui_button","z":"e8b7cfc5.2ce4b","d":true,"name":"","group":"e9d42dd7.5b2c18","order":1,"width":"0","height":"0","passthru":false,"label":"Visualizza indirizzi IP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":540,"y":380,"wires":[["aa2be1b2.b0cdd"]]},{"id":"33c68cd7.b6dc84","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":320,"wires":[[]]},{"id":"8c8204f5.1189f","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"save tv","group":"e9d42dd7.5b2c18","order":7,"width":0,"height":0,"passthru":false,"label":"Salva","tooltip":"","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":500,"y":760,"wires":[["5b4a931.c08e76c","54e0630e.0d8964","e51f8ff4.06d0a8"]]},{"id":"5b4a931.c08e76c","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('tv_device') + \"' where name = 'tv_device';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":760,"wires":[["f2d4e812.e2dc6"]]},{"id":"f2d4e812.e2dc6","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1060,"y":760,"wires":[["280d0b1f.1184bc"]]},{"id":"ab988469.ccab7","type":"subflow:d591106.1f4267","z":"d8282f32.312a2","name":"","env":[],"x":450,"y":40,"wires":[]},{"id":"b9d3b8bb.17c2f","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","d":true,"name":"","label":"","tooltip":"","place":"Selezionare un dispositivo","group":"e9d42dd7.5b2c18","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":1080,"y":380,"wires":[[]]},{"id":"2fc329af.6f4d66","type":"function","z":"e8b7cfc5.2ce4b","d":true,"name":"","func":"let response = msg.payload.split('\\n');\nlet found = []\nlet device\nresponse.forEach ( line => {\n    if ( line.indexOf('|') > -1 ){\n        device = line.split('|')[0] + ' - (';\n        let name = line.split('|')[1].split('(')[1];\n        device += name;\n        found.push ( device )\n    }\n})\nmsg.options = found;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":380,"wires":[["b9d3b8bb.17c2f"]]},{"id":"aa2be1b2.b0cdd","type":"exec","z":"e8b7cfc5.2ce4b","d":true,"command":"sudo 'Virtual!2020' | sudo nmap -sn 192.168.1.1/24 | awk '/Nmap scan report for/{printf $5;}/MAC Address:/{print \"|\"substr($0, index($0,$3)) }' | sort","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan subnet","x":730,"y":380,"wires":[["2fc329af.6f4d66"],[],[]]},{"id":"8a8ed729.d7fde","type":"catch","z":"e8b7cfc5.2ce4b","d":true,"name":"","scope":null,"uncaught":false,"x":80,"y":40,"wires":[["136fbf67.0dbaa1"]]},{"id":"136fbf67.0dbaa1","type":"debug","z":"e8b7cfc5.2ce4b","name":"error UI","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":240,"y":40,"wires":[]},{"id":"d0b9161e.c67","type":"inject","z":"e8b7cfc5.2ce4b","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"4","topic":"","x":90,"y":400,"wires":[["44a6eb79.228cb4"]]},{"id":"44a6eb79.228cb4","type":"alexa-remote-init","z":"e8b7cfc5.2ce4b","name":"","account":"fbab9837.1c28f8","option":"initialise","x":240,"y":400,"wires":[[]]},{"id":"3c231ceb.b056bc","type":"function","z":"ee39999b.68b5a","name":"prepare skill statement","func":"var alexa_device = global.get('alexa_device');\n\n//imposto l'esame a udito - serve per recuperare le risposte alexa solo qui\nglobal.set('current_exam', 'A');\n\nvar payload = {\"type\": \"skill\",\n    payload:\n    {\n        'skill': 'amzn1.ask.skill.394a2f2c-9f7a-4bdd-8ada-1d9affaca6cf',\n        \"device\": alexa_device\n    }\n}\nmsg = { \"payload\": payload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":100,"wires":[["5590d2e8.b9c434"]]},{"id":"5590d2e8.b9c434","type":"alexa-remote-routine","z":"ee39999b.68b5a","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":440,"y":100,"wires":[[]]},{"id":"2010aeb5.7ac782","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"Pollici:","tooltip":"","place":"Selezionare la dimensione della TV","group":"e9d42dd7.5b2c18","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":670,"y":480,"wires":[["78fcca54.24187c"]]},{"id":"97d322ad.f51ee8","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_sizes');\nlet option = [];\n\nfound.forEach ( line => {\n    var device = line.pollici;\n    option.push (device);\n})\nmsg.options = option;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":460,"wires":[["2010aeb5.7ac782"]]},{"id":"e2355f84.075dd8","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":500,"wires":[["2010aeb5.7ac782"]]},{"id":"ba4c0bef.3899","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('tv_device_size') + \"' where name = 'tv_device_size';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":800,"wires":[["da0b02e4.761988"]]},{"id":"78fcca54.24187c","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_size","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["1267a420.3a5b7c","177c6193.94a646"]]},{"id":"54e0630e.0d8964","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":800,"wires":[["ba4c0bef.3899"]]},{"id":"da0b02e4.761988","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1060,"y":800,"wires":[[]]},{"id":"b141bb3.e1dc3c8","type":"function","z":"22e8c15.1224cbe","name":"show chessboard","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\n//imposto l'esame a vista - serve per recuperare le risposte alexa solo qui\nglobal.set('current_exam', 'V');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": 'Ora verrà visualizzata una scacchiera per la calibrazione della televisione. Utilizza l\\'app per inquadrare la scacchiera dalla posizione in cui effettuerai l\\'esame, quindi premi, invia',\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":40,"wires":[["450ead95.365134","158cbdd4.a3e6fa"]]},{"id":"450ead95.365134","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1020,"y":80,"wires":[[]]},{"id":"d65d5361.d33238","type":"http in","z":"ee39999b.68b5a","name":"","url":"/audioresult","method":"get","upload":false,"swaggerDoc":"","x":120,"y":160,"wires":[["6bc0f8cb.412f08","7a68b98a.4fc67","f4e23353.f91bd8","f29b8425.12073"]]},{"id":"6bc0f8cb.412f08","type":"template","z":"ee39999b.68b5a","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n</html>","x":290,"y":160,"wires":[["c3ee4638.5e026"]]},{"id":"c3ee4638.5e026","type":"http response","z":"ee39999b.68b5a","name":"","x":430,"y":160,"wires":[]},{"id":"7a68b98a.4fc67","type":"debug","z":"ee39999b.68b5a","name":"audio skill result msg in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":350,"y":240,"wires":[]},{"id":"f4e23353.f91bd8","type":"function","z":"ee39999b.68b5a","name":"exam results","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\nvar text_message = \"Bene, l'esame è terminato, sto elaborando le tue risposte... \";\nvar results = msg.req._parsedUrl.query;\nresults = results.substring(5);\n\nif(parseInt(results) > 6){\n    text_message += \"Dai risultati sembra che tu possa avere dei moderati problemi di udito, rivolgiti ad uno specialista per un controllo completo\";\n}else\nif(parseInt(results) > 8){\n    text_message += \"Dai risultati sembra che tu possa avere dei gravi problemi di udito, rivolgiti ad uno specialista per un controllo completo\";\n}else\n{\n    text_message += \"Dai risultati sembra che tu riesca ad ascoltare bene\";\n}\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": text_message,\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":300,"wires":[["9a7729f5.52f67"]]},{"id":"9a7729f5.52f67","type":"alexa-remote-routine","z":"ee39999b.68b5a","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":500,"y":300,"wires":[[]]},{"id":"1267a420.3a5b7c","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_sizes');\nvar tv_size = global.get('tv_device_size');\nlet pollici = 0;\n\nfound.forEach ( line => {\n    if(line.pollici === tv_size){\n        pollici = line.pollici;\n    }\n})\nmsg.payload = pollici;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":440,"wires":[["4f6b922b.e7796c"]]},{"id":"4f6b922b.e7796c","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_pollici","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":440,"wires":[[]]},{"id":"2f6e6d08.78a28a","type":"debug","z":"22e8c15.1224cbe","name":"error visual exam","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":20,"wires":[]},{"id":"3bc7749f.5e04e4","type":"catch","z":"ee39999b.68b5a","name":"","scope":null,"uncaught":false,"x":100,"y":40,"wires":[["f4c9f5b.a6f1e08"]]},{"id":"f4c9f5b.a6f1e08","type":"debug","z":"ee39999b.68b5a","name":"error audio exam","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"eab21643.fc37a","type":"catch","z":"22e8c15.1224cbe","d":true,"name":"","scope":null,"uncaught":false,"x":100,"y":20,"wires":[["2f6e6d08.78a28a"]]},{"id":"339f6de5.0eae32","type":"function","z":"22e8c15.1224cbe","name":"","func":"var ip_device = global.get('tv_device');\n\nvar mode = global.get('mode');\nvar uri = \"https://www.overside.it/unicam/videoexam/chessboard.jpg\";\nif(mode === \"L\")\n    uri = \"https://unicam.ngrok.io/get_chessboard\";\n\nnode.warn('cast video chessboard');\n\nmsg = \n{\n  payload: {\n      url: uri,\n      contentType: \"image/jpeg\", \n      ip: ip_device\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":40,"wires":[["5546fd5a.c1d714"]]},{"id":"e51f8ff4.06d0a8","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"7","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":840,"wires":[["36a929a6.80e7e6"]]},{"id":"36a929a6.80e7e6","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('tv_device_res') + \"' where name = 'tv_device_res';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":840,"wires":[["793619b4.ab9ad8"]]},{"id":"793619b4.ab9ad8","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1060,"y":840,"wires":[[]]},{"id":"b00454eb.2d6b88","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"Risoluzione:","tooltip":"","place":"Selezionare la risoluzione della TV","group":"e9d42dd7.5b2c18","order":5,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":690,"y":620,"wires":[["ad998049.7d44a8","8c25a93e.9f746"]]},{"id":"4345bb67.7f8b44","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_res');\nlet option = [];\n\nfound.forEach ( line => {\n    var device = line.nome;\n    option.push (device);\n})\nmsg.options = option;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":600,"wires":[["b00454eb.2d6b88"]]},{"id":"16cdd624.1e01fa","type":"delay","z":"e8b7cfc5.2ce4b","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":640,"wires":[["b00454eb.2d6b88"]]},{"id":"ad998049.7d44a8","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_res","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":620,"wires":[["2eb37ccb.2d5404","8c25a93e.9f746"]]},{"id":"3c7721c0.603bf6","type":"function","z":"1c2e132b.ce94cd","name":"start exam","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nglobal.set('repeat', 0);\n\n//imposto l'esame a daltonismo - serve per recuperare le risposte alexa solo qui\nglobal.set('current_exam', 'D');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": 'Ora visualizzerai delle tavole con dei numeri, dovrai dire quale numero vedi in ogni tavola o zero se non vedi nulla.',\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":100,"wires":[["7a512eb5.955fe8"]]},{"id":"7a512eb5.955fe8","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":620,"y":100,"wires":[["5421547d.52387c"]]},{"id":"1d32d713.ecf749","type":"function","z":"1c2e132b.ce94cd","name":"clear response array","func":"for (i = 1; i < 30; i++){\n    global.set('response' + i, '');\n}\nglobal.set('current_row', 0);\n","outputs":0,"noerr":0,"initialize":"","finalize":"","x":240,"y":180,"wires":[]},{"id":"74cbe269.b27734","type":"debug","z":"1c2e132b.ce94cd","name":"error visual exam","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"5421547d.52387c","type":"delay","z":"1c2e132b.ce94cd","name":"","pauseType":"delay","timeout":"13","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":100,"wires":[["9f73ee2f.9a21f8"]]},{"id":"dbf496e1.d58798","type":"catch","z":"1c2e132b.ce94cd","d":true,"name":"","scope":null,"uncaught":false,"x":100,"y":40,"wires":[["74cbe269.b27734"]]},{"id":"35789987.1cad16","type":"function","z":"325c32a5.1a51de","name":"","func":"var Small = {\n    'zero': 0,\n    'uno': 1,\n    'due': 2,\n    'tre': 3,\n    'quattro': 4,\n    'cinque': 5,\n    'sei': 6,\n    'sette': 7,\n    'otto': 8,\n    'nove': 9,\n    'dieci': 10,\n    'undici': 11,\n    'dodici': 12,\n    'tredici': 13,\n    'quattordici': 14,\n    'quindici': 15,\n    'sedici': 16,\n    'diciassette': 17,\n    'diciotto': 18,\n    'diciannove': 19,\n    'venti': 20,\n    'vent': 20,\n    'trenta': 30,\n    'trent': 30,\n    'quaranta': 40,\n    'quarant': 40,\n    'cinquanta': 50,\n    'cinquant': 50,\n    'sessanta': 60,\n    'sessant': 60,\n    'settanta': 70,\n    'settant': 70,\n    'ottanta': 80,\n    'ottant': 80,\n    'novanta': 90,\n    'novant': 90\n};\n\nvar a = msg.payload.toString().split(/[\\s-]+/);\nvar n = 0;\n\na.forEach(element => {\n    n = n + Small[element];    \n});\n\nmsg.payload = n;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":80,"wires":[[]]},{"id":"e20d5ac3.473678","type":"function","z":"3b8680bc.495b08","name":"","func":"var livello_visione_normale = 21;\nvar livello_discromatopsia_protane = 0;\nvar livello_discromatopsia_deutane = 0;\n\nvar data = msg.payload;\nlet i = 0;\n\ndata.forEach(function (risposta) {\n    \n    switch(i){\n        case 1:\n            if(risposta === 12)\n                livello_visione_normale--;\n            if(risposta === 12){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }\n            break;\n        case 2:\n            if(risposta === 8)\n                livello_visione_normale--;\n            if(risposta === 3){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }\n            break;\n        case 3:\n            if(risposta === 6)\n                livello_visione_normale--;\n            if(risposta === 5){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }                \n            break;\n        case 4:\n            if(risposta === 29)\n                livello_visione_normale--;\n            if(risposta === 70){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }                \n            break;\n        case 5:\n            if(risposta === 57)\n                livello_visione_normale--;\n            if(risposta === 35){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }             \n            break;\n        case 6:\n            if(risposta === 5)\n                livello_visione_normale--;\n            if(risposta === 2){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }   \n            break;\n        case 7:\n            if(risposta === 3)\n                livello_visione_normale--;\n            if(risposta === 5){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }   \n            break;\n        case 8:\n            if(risposta === 15)\n                livello_visione_normale--;\n            if(risposta === 17){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }   \n            break;\n        case 9:\n            if(risposta === 74)\n                livello_visione_normale--;\n            if(risposta === 21){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }   \n            break;\n        case 10:\n            if(risposta === 2)\n                livello_visione_normale--;\n            break;\n        case 11:\n            if(risposta === 6)\n                livello_visione_normale--;\n            break;\n        case 12:\n            if(risposta === 97)\n                livello_visione_normale--;\n            break;\n        case 13:\n            if(risposta === 45)\n                livello_visione_normale--;\n            break;\n        case 14:\n            if(risposta === 5)\n                livello_visione_normale--;\n            break;\n        case 15:\n            if(risposta === 7)\n                livello_visione_normale--;\n            break;\n        case 16:\n            if(risposta === 16)\n                livello_visione_normale--;\n            break;\n        case 17:\n            if(risposta === 73)\n                livello_visione_normale--;\n            break;\n        case 18:\n            if(risposta === 5){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }\n            break;\n        case 19:\n            if(risposta === 2){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }\n            break;\n        case 20:\n            if(risposta === 45){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }\n            break;\n        case 21:\n            if(risposta === 73){\n                livello_discromatopsia_protane++;\n                livello_discromatopsia_deutane++;\n            }\n            break;\n        case 22:\n            if(risposta === 26)\n                livello_visione_normale--;\n            if(risposta === 6)\n                livello_discromatopsia_protane+=5;\n            if(risposta === 2)\n                livello_discromatopsia_deutane+=5;\n            break;            \n        case 23:\n            if(risposta === 42)\n                livello_visione_normale--;\n            if(risposta === 2)\n                livello_discromatopsia_protane+=5;\n            if(risposta === 4)\n                livello_discromatopsia_deutane+=5;\n            break;            \n        case 24:\n            if(risposta === 35)                \n                livello_visione_normale--;\n            if(risposta === 5)\n                livello_discromatopsia_protane+=5;\n            if(risposta === 3)\n                livello_discromatopsia_deutane+=5;\n            break;            \n        case 25:\n            if(risposta === 96)\n                livello_visione_normale--;\n            if(risposta === 6)\n                livello_discromatopsia_protane+=5;\n            if(risposta === 9)\n                livello_discromatopsia_deutane+=5;\n            break;            \n    }\n    i++;\n})\n\nmsg.payload = { \n    \"visione\" : livello_visione_normale,\n    \"protane\" : livello_discromatopsia_protane,\n    \"deutane\" : livello_discromatopsia_deutane,\n    \"results\" : data\n}\n\nnode.warn('v:' + livello_visione_normale);\nnode.warn('p:' + livello_discromatopsia_protane);\nnode.warn('d:' + livello_discromatopsia_deutane);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":80,"wires":[[]]},{"id":"2b72c912.0b71e6","type":"http in","z":"1c2e132b.ce94cd","name":"","url":"/castvideo","method":"get","upload":false,"swaggerDoc":"","x":120,"y":260,"wires":[["67c6d605.2d53e8","fbfccae0.b87fd"]]},{"id":"67c6d605.2d53e8","type":"template","z":"1c2e132b.ce94cd","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n</html>","x":290,"y":260,"wires":[["e5aeaf5a.842b98"]]},{"id":"e5aeaf5a.842b98","type":"http response","z":"1c2e132b.ce94cd","name":"","x":450,"y":260,"wires":[]},{"id":"fbfccae0.b87fd","type":"function","z":"1c2e132b.ce94cd","name":"","func":"var results = msg.req._parsedUrl.query;\nresults = results.substring(5);\n\nmsg.payload = results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":300,"wires":[["e9ca1c92.7bc42"]]},{"id":"2e095902.1845ee","type":"http in","z":"1c2e132b.ce94cd","name":"","url":"/videoresults","method":"get","upload":false,"swaggerDoc":"","x":120,"y":380,"wires":[["b1e95aa1.9a999","864003a3.941fa","a506c237.0f2fd"]]},{"id":"b1e95aa1.9a999","type":"template","z":"1c2e132b.ce94cd","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n</html>","x":290,"y":380,"wires":[["ff3aea.4ed9f518"]]},{"id":"ff3aea.4ed9f518","type":"http response","z":"1c2e132b.ce94cd","name":"","x":450,"y":380,"wires":[]},{"id":"864003a3.941fa","type":"function","z":"1c2e132b.ce94cd","name":"","func":"var results = msg.req._parsedUrl.query;\nresults = results.substring(9).split('_');\n\nmsg.payload = results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":420,"wires":[["53e875ae.071ebc"]]},{"id":"e9ca1c92.7bc42","type":"function","z":"1c2e132b.ce94cd","name":"elaborate sequence","func":"var msg_video = { \"payload\" : \"\" };\nvar current_step = msg.payload;\n\nnode.warn('cast video step ' + current_step);\n\nvar mode = global.get('mode');\nvar uri = \"https://www.overside.it/unicam/videoexam/Tavola\" + current_step + \".jpg\";\nif(mode === \"L\")\n    uri = \"https://unicam.ngrok.io/get_tavola?id=\" + current_step;\n\nswitch (parseInt(current_step)){\n    case 0:\n        msg_video = null;\n        break;\n    default:\n        msg_video.payload = uri;\n    break;\n}\n\nreturn msg_video;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":300,"wires":[["4b832cf5.57b6fc"]]},{"id":"53e875ae.071ebc","type":"subflow:3b8680bc.495b08","z":"1c2e132b.ce94cd","name":"","env":[],"x":500,"y":420,"wires":[["6caab7f2.6caa28","5303920c.671f9c"]]},{"id":"6caab7f2.6caa28","type":"function","z":"1c2e132b.ce94cd","name":"exam ended","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar visione = msg.payload.visione;\nvar protane = msg.payload.protane;\nvar deutane = msg.payload.deutane;\n\nvar text_message = \"Bene, esame terminato, sto elaborando le tue risposte...\";\n\nif((protane > 0 && protane < 5) || (deutane > 0 && deutane < 5))\n    text_message += \"Soffri di una leggera Discromatopsia protane o deutane, consigliamo un consulto specializzato.\"\nelse if(protane >= 5)\n    text_message += \"Soffri di una forma importante di Discromatopsia protane, consigliamo un consulto specializzato.\"\nelse if(deutane >= 5)\n    text_message += \"Soffri di una forma importante di Discromatopsia deutane, consigliamo un consulto specializzato.\"\nelse if(visione == 21)\n    text_message += \"Sembra tu non abbia problemi di daltonismo.\"\nelse if(visione < 21 && visione > 15)\n    text_message += \"Soffri di una leggera forma di daltonismo, consigliamo un consulto specializzato.\"\nelse if(visione <= 15)\n    text_message += \"Soffri di una forma importante di daltonismo, consigliamo un consulto specializzato.\"\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": text_message,\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":420,"wires":[["4133a417.11b1b4"]]},{"id":"4133a417.11b1b4","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":900,"y":420,"wires":[[]]},{"id":"9f73ee2f.9a21f8","type":"function","z":"1c2e132b.ce94cd","name":"prepare skill statement","func":"var alexa_device = global.get('alexa_device');\nvar skill = \"amzn1.ask.skill.62ff0bc3-e7e8-497b-8d78-5b6eaa5159e0\";\n\nvar payload = {\"type\": \"skill\",\n    payload:\n    {\n        'skill': skill,\n        \"device\": alexa_device\n    }\n}\nmsg = { \"payload\": payload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":100,"wires":[["4d53d0b8.74d7f"]]},{"id":"4d53d0b8.74d7f","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1220,"y":100,"wires":[[]]},{"id":"a506c237.0f2fd","type":"debug","z":"1c2e132b.ce94cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":460,"wires":[]},{"id":"b722e50b.de8888","type":"http in","z":"22e8c15.1224cbe","name":"","url":"/castvista","method":"get","upload":false,"swaggerDoc":"","x":110,"y":540,"wires":[["c5d55947.b2f46","f257a8fe.b3e678"]]},{"id":"c5d55947.b2f46","type":"template","z":"22e8c15.1224cbe","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n</html>","x":290,"y":540,"wires":[["990aebc3.e82e5"]]},{"id":"990aebc3.e82e5","type":"http response","z":"22e8c15.1224cbe","name":"","x":430,"y":540,"wires":[]},{"id":"f257a8fe.b3e678","type":"function","z":"22e8c15.1224cbe","name":"","func":"var msg_step = null;\nvar msg_results = null;\n\nvar step = msg.payload.step;\nvar results = msg.payload.results;\n\nmsg_step = { payload: step };\nmsg_results = { payload: { \"results\": results, \"step\": step }};\n\nreturn [msg_step, msg_results];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":300,"y":580,"wires":[["9452ccbb.ebd4b8"],["aba1ce1b.01d018","1576ab90.b2a0ec"]]},{"id":"7b17a67d.38456","type":"http in","z":"22e8c15.1224cbe","name":"","url":"/vistaresults","method":"get","upload":false,"swaggerDoc":"","x":120,"y":740,"wires":[["94c2fb3.01f2f88","10c1c8a4.23fe47"]]},{"id":"94c2fb3.01f2f88","type":"template","z":"22e8c15.1224cbe","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n</html>","x":290,"y":740,"wires":[["502e5e5e.ea24c"]]},{"id":"502e5e5e.ea24c","type":"http response","z":"22e8c15.1224cbe","name":"","x":430,"y":740,"wires":[]},{"id":"10c1c8a4.23fe47","type":"function","z":"22e8c15.1224cbe","name":"","func":"var results = msg.req._parsedUrl.query;\nresults = results.substring(9).split('_');\n\nmsg.payload = results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":780,"wires":[["2d830500.7881b4"]]},{"id":"9452ccbb.ebd4b8","type":"function","z":"22e8c15.1224cbe","name":"elaborate sequence","func":"var msg_video = { \"payload\" : \"\" };\nvar current_step = msg.payload;\nvar msg_test = { payload : current_step};\n\nglobal.set('current_step', current_step);\nnode.warn('cast video step ' + current_step);\n\nvar mode = global.get('mode');\nvar uri = \"https://www.overside.it/unicam/videoexam/optometrica_\" + current_step + \".jpg\";\nif(mode === \"L\")\n    uri = \"https://unicam.ngrok.io/get_optometrica?id=\" + current_step;\n\nswitch (parseInt(current_step)){\n    case 0:\n        msg_video = null;\n        msg_test = null;\n        break;\n    case 52:\n        msg_video.payload = uri;\n        msg_test = null;\n        break;\n    default:\n        msg_video.payload = uri;\n    break;\n}\n\nreturn [msg_video, msg_test];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":490,"y":580,"wires":[["e236c232.bff748"],["86a58080.7fae88"]]},{"id":"ca492125.10a788","type":"function","z":"22e8c15.1224cbe","name":"exam ended","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar text_message = \"Bene, esame terminato, sto elaborando le tue risposte...\";\n\nvar livello = msg.payload.valutation;\nvar additional = \"la tua acuità visiva risulta insufficiente\";\nif(livello >= 4){\n    additional = \"la tua acuità visiva non risulta essere soddisfacente\";\n}\nif(livello >= 6){\n    additional = \"la tua acuità visiva non risulta essere buona\";\n}\nif(livello >= 8){\n    additional = \"la tua acuità visiva risulta buona\";\n}\nif(livello >= 9){\n    additional = \"la tua acuità visiva risulta molto buona\";\n}\nif(livello >= 10){\n    additional = \"la tua acuità visiva risulta ottima\";\n}\ntext_message += additional;\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": text_message,\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":780,"wires":[["41df2ea8.b3abb8"]]},{"id":"41df2ea8.b3abb8","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":860,"y":780,"wires":[[]]},{"id":"666baf50.97896","type":"function","z":"22e8c15.1224cbe","name":"start exam","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\nvar tv_device_size_width = global.get('tv_device_size_width') * 10; //trasformazione da cm in mm\nvar tv_res_width = global.get('tv_device_res_width');\nvar tv_res_height = global.get('tv_device_res_height');\nvar msg_start_skill = null;\nvar msg_resize = null;\n\nglobal.set('aborted' ,'');\n\nnode.warn('tv_device_size_width: ' + tv_device_size_width);\nnode.warn('tv_res_width: ' + tv_res_width);\nnode.warn('tv_res_height: ' + tv_res_height);\n\nvar results = msg.req._parsedUrl.query.split('&');\nvar chessWidth = results[0].split('=')[1];\nchessWidth = chessWidth.replace(',','.');\nvar sensorWidth = results[1].split('=')[1];\nsensorWidth = sensorWidth.replace(',','.');\nvar focalLength = results[2].split('=')[1];\nfocalLength = focalLength.replace(',','.');\nvar imageWidth = results[3].split('=')[1];\nimageWidth = imageWidth.replace(',','.');\n\nvar restore = 0;\nif(results.length > 4){\n    restore = results[4].split('=')[1];\n    if(parseInt(restore) === 1){\n        dist_m = global.get('distance');\n    }else{\n        msg_start_skill = null;\n    }\n}\nnode.warn('restore: ' + restore);\n\nif(parseInt(restore) === 0){    \n    global.set('sensorWidth', sensorWidth);\n    global.set('chessWidth', chessWidth);\n    global.set('focalLength', focalLength);\n    global.set('imageWidth', imageWidth);\n    \n    node.warn('sensorWidth: ' + sensorWidth);\n    node.warn('chessWidth: ' + chessWidth);\n    node.warn('focalLength: ' + focalLength);\n    node.warn('imageWidth: ' + imageWidth);\n    \n    const scac_width = 1697;\n    const scac_height = 1195;\n    const corners_width = 1330;\n    \n    //proporzione angoli interni / larghezza scaccchiera\n    var prop = corners_width / scac_width;\n    node.warn('prop: ' + prop);\n    \n    //proporzione altezza scacchiera /altezza risoluzione tv\n    var prop_height = tv_res_height / scac_height;\n    node.warn('prop_height: ' + prop_height);\n    \n    //calcolo proporzione grandezza immagine sullo schermo \n    //dato che foto centrata sullo schermo in altezza (ridim. Altezza)\n    var tv_chess_width = scac_width * prop * prop_height;\n    node.warn('tv_chess_width: ' + tv_chess_width);\n    \n    //calcolo dimensione immagine nello schermo in base ai pixel rilevati dell'immagine\n    var width = (tv_device_size_width / tv_res_width) * tv_chess_width;\n    node.warn('width: ' + width);\n    \n    //calcolo distanza\n    var distance = (focalLength * width * imageWidth) / (chessWidth * sensorWidth);\n    //arrotondamento distanza e conversione in metri\n    var dist_m = (distance / 1000).toFixed(2);\n    \n    global.set('distance', dist_m);\n    \n    //calcolo scala immagini in base alla distanza\n    var tavola_height = 56 * 10;\n    var tavola_width = 28 * 10;\n    //proporzione tavola da 3m a distanza calcolata\n    var mm_tavola = tavola_width / 3000;\n    mm_tavola = mm_tavola * dist_m * 1000;\n    \n    var tavola_new_width = (tv_res_width / tv_device_size_width) * mm_tavola;\n    var tavola_img_height = 1404;\n    var tavola_img_width = 743;\n    var tavola_new_height = (tavola_new_width / tavola_img_width) * tavola_img_height;\n    \n    var rounded_width = (tavola_new_width / 100) *100;\n    var rounded_height = (tavola_new_height / 100) *100;\n    node.warn('new width: ' + rounded_width);\n    node.warn('new height: ' + rounded_height);\n    global.set('newheight', rounded_height);\n    global.set('newwidth', rounded_width);\n}\nnode.warn('distance: ' + dist_m);\n\nvar payload = \"\";\nif(distance < 1){\n\n    payload = {\"type\": \"speakAtVolume\",\n        payload:\n        {\n            \"volume\": alexa_volume,\n            \"type\": 'regular',\n            \"text\": 'La distanza rilevata di '+ dist_m + 'm è troppo ridotta per eseguire l\\'esame. Portati ad almeno un metro dalla televisione.',\n            \"devices\": [alexa_device]\n        }\n    }\n    \n}else{\n    \n    payload = {\"type\": \"speakAtVolume\",\n        payload:\n        {\n            \"volume\": alexa_volume,\n            \"type\": 'regular',\n            \"text\": 'Bene sei a ' + dist_m + 'm dalla televisione. Ora visualizzerai una tavola con delle lettere. Ti verrà chiesto di leggere la lettera indicata. Puoi anche dire, lettera N',\n            \"devices\": [alexa_device]\n        }\n    }\n    \n    msg_start_skill = { \"payload\" : \"GO\"};\n}\n\nif(parseInt(restore) === 1){\n     payload = {\"type\": \"speakAtVolume\",\n        payload:\n        {\n            \"volume\": alexa_volume,\n            \"type\": 'regular',\n            \"text\": 'Bene riprendiamo l\\'esame da dove eravamo rimasti. Mettiti a ' + dist_m + 'm dalla televisione. Verranno visualizzate delle tavole, leggi le lettere indicate.',\n            \"devices\": [alexa_device]\n        }\n    }\n}else{\n    //calcolare fattore di scala\n    msg_resize = {payload: \"GO\"};\n}\n\nvar msg_tospeak = { \"payload\": payload };\nreturn [msg_tospeak, msg_start_skill, msg_resize];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":310,"y":400,"wires":[["446afc1b.73fe14"],["1db62af2.1a0535"],["bd31b8ee.918748"]]},{"id":"446afc1b.73fe14","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":500,"y":380,"wires":[[]]},{"id":"c737d05a.330a3","type":"http in","z":"22e8c15.1224cbe","name":"","url":"/calibrate","method":"get","upload":false,"swaggerDoc":"","x":110,"y":340,"wires":[["86a358a2.55555","666baf50.97896"]]},{"id":"86a358a2.55555","type":"template","z":"22e8c15.1224cbe","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n</html>","x":290,"y":340,"wires":[["a1659ad1.226b3"]]},{"id":"a1659ad1.226b3","type":"http response","z":"22e8c15.1224cbe","name":"","x":430,"y":340,"wires":[]},{"id":"1db62af2.1a0535","type":"delay","z":"22e8c15.1224cbe","name":"","pauseType":"delay","timeout":"16","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":480,"y":420,"wires":[["75eb97b8.ba91c"]]},{"id":"75eb97b8.ba91c","type":"function","z":"22e8c15.1224cbe","name":"prepare skill statement","func":"var alexa_device = global.get('alexa_device');\nvar skill = \"amzn1.ask.skill.60d9b00f-0719-4f76-9f4d-3fe523c30214\";\n\nvar payload = {\"type\": \"skill\",\n    payload:\n    {\n        'skill': skill,\n        \"device\": alexa_device\n    }\n}\nmsg = { \"payload\": payload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":420,"wires":[["6e54a266.dca914"]]},{"id":"6e54a266.dca914","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":900,"y":420,"wires":[[]]},{"id":"2eb37ccb.2d5404","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_res');\nvar tv_res = global.get('tv_device_res');\nlet width = 0;\n\nfound.forEach ( line => {\n    if(line.nome === tv_res){\n        width = line.larghezza;\n    }\n})\n\nmsg.payload = width;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":580,"wires":[["c9ba424c.6251"]]},{"id":"c9ba424c.6251","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_res_width","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":580,"wires":[[]]},{"id":"dc9651fa.aa99","type":"ui_text_input","z":"e8b7cfc5.2ce4b","name":"","label":"Utente: ","tooltip":"","group":"77bb108.155f57","order":1,"width":"0","height":"0","passthru":true,"mode":"email","delay":300,"topic":"topic","topicType":"msg","x":500,"y":160,"wires":[["7149e0ac.30078"]]},{"id":"960d2ae4.7add58","type":"ui_text_input","z":"e8b7cfc5.2ce4b","name":"","label":"Password:","tooltip":"","group":"77bb108.155f57","order":2,"width":"0","height":"0","passthru":true,"mode":"password","delay":300,"topic":"topic","topicType":"msg","x":509,"y":200,"wires":[["d6cb5526.b46ae8"]]},{"id":"a133e9d0.7644c8","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('alexa_password') + \"' where name = 'alexa_password';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":200,"wires":[["b5ce4d92.98c9e"]]},{"id":"b5ce4d92.98c9e","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1220,"y":200,"wires":[[]]},{"id":"d8a0d398.e25a4","type":"function","z":"e8b7cfc5.2ce4b","name":"prepare statement","func":"msg.topic = \"update configuration set value = '\" + global.get('alexa_username') + \"' where name = 'alexa_username';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":160,"wires":[["a919e189.45782"]]},{"id":"a919e189.45782","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"update configuration","x":1220,"y":160,"wires":[[]]},{"id":"7149e0ac.30078","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"alexa_username","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":160,"wires":[[]]},{"id":"13266523.2fa89b","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":240,"wires":[[]]},{"id":"d6cb5526.b46ae8","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"alexa_password","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":200,"wires":[[]]},{"id":"c43bcf07.4070d","type":"exec","z":"94a0a250.8c8b78","command":"sudo -S <<< \"Virtual!2020\" nmap -sn 192.168.178.1/24 | awk '/Nmap scan report for/{printf $5;}/MAC Address:/{print \"|\"substr($0, index($0,$3)) }' | sort","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scan subnet","x":350,"y":80,"wires":[["6903a852.c6bd58"],[],[]]},{"id":"6903a852.c6bd58","type":"function","z":"94a0a250.8c8b78","name":"Subnet Devices Array","func":"node.warn(msg);\nlet response = msg.payload.split('\\n');\nlet found = []\nlet device\nresponse.forEach ( line => {\n    if ( line.indexOf('|') > -1 ){\n        device = {\n            ip : line.split('|')[0],\n            mac: line.split('|')[1].split(' ')[0],\n            brand: line.split('|')[1].split(' ')[1]\n        }\n        found.push ( device )\n    }\n})\nmsg.payload = found;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":80,"wires":[["c5c606d2.36a7f8"]]},{"id":"c5c606d2.36a7f8","type":"debug","z":"94a0a250.8c8b78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":80,"wires":[]},{"id":"53d97db4.111a44","type":"inject","z":"94a0a250.8c8b78","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":80,"wires":[["c43bcf07.4070d"]]},{"id":"5546fd5a.c1d714","type":"cast-to-client","z":"22e8c15.1224cbe","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":1310,"y":40,"wires":[[]]},{"id":"e236c232.bff748","type":"function","z":"22e8c15.1224cbe","name":"","func":"var ip_device = global.get('tv_device');\n\nmsg = \n{\n  payload: {\n      url: msg.payload,\n      contentType: \"image/jpeg\", \n      ip: ip_device\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":560,"wires":[["d923acec.67eed"]]},{"id":"d923acec.67eed","type":"cast-to-client","z":"22e8c15.1224cbe","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":830,"y":560,"wires":[[]]},{"id":"4b832cf5.57b6fc","type":"function","z":"1c2e132b.ce94cd","name":"","func":"var ip_device = global.get('tv_device');\n\nmsg = \n{\n  payload: {\n      url: msg.payload,\n      contentType: \"image/jpeg\", \n      ip: ip_device\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":300,"wires":[["5b7c9d92.be0544"]]},{"id":"5b7c9d92.be0544","type":"cast-to-client","z":"1c2e132b.ce94cd","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":870,"y":300,"wires":[[]]},{"id":"23d65f70.70a39","type":"inject","z":"e8b7cfc5.2ce4b","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":"3","topic":"","payloadType":"str","x":90,"y":460,"wires":[["8071c805.a8e438"]]},{"id":"6d579f12.75c1e","type":"exec","z":"e8b7cfc5.2ce4b","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"autologin alexa","x":120,"y":520,"wires":[["14897bfd.fd81a4"],["14897bfd.fd81a4"],["14897bfd.fd81a4"]]},{"id":"14897bfd.fd81a4","type":"debug","z":"e8b7cfc5.2ce4b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":520,"wires":[]},{"id":"8071c805.a8e438","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"//cartella corrente ~/.node-red/\n\nvar email = global.get('alexa_username');\nvar password = global.get('alexa_password');\n\nif(email !== \"\" || password !== \"\")\n    msg.payload = \"python3 ~/.node-red/alexaInit.py \" + email + \" \" + password;\nelse \n    msg = null;\n    \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":460,"wires":[["6d579f12.75c1e"]]},{"id":"e7d19eb2.dad4e8","type":"exec","z":"d8282f32.312a2","command":"ngrok http -hostname=unicam.ngrok.io -region=us 1880","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ngrok tunneling on","x":730,"y":260,"wires":[["dc5aee04.5da51"],["dc5aee04.5da51"],["dc5aee04.5da51"]]},{"id":"18bf7137.b59147","type":"exec","z":"d8282f32.312a2","command":"ngrok authtoken 1gGz49QXrUFHyeS1GK1xtn5Ip9c_7a71jXTT7bDpHoDzM2WAa","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"ngrok authentication","x":320,"y":260,"wires":[["13444cf9.0240cb"],["13444cf9.0240cb"],["13444cf9.0240cb","97c9a8d9.099608"]]},{"id":"4df571d0.bdf408","type":"inject","z":"d8282f32.312a2","name":"tunneling on","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":110,"y":260,"wires":[["18bf7137.b59147"]]},{"id":"13444cf9.0240cb","type":"debug","z":"d8282f32.312a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":320,"wires":[]},{"id":"dc5aee04.5da51","type":"debug","z":"d8282f32.312a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":320,"wires":[]},{"id":"97c9a8d9.099608","type":"delay","z":"d8282f32.312a2","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":260,"wires":[["e7d19eb2.dad4e8"]]},{"id":"d56b8ba.8d7bdf8","type":"comment","z":"d8282f32.312a2","name":"Start tunneling","info":"Start ngrok tunneling to have static https url to access","x":90,"y":220,"wires":[]},{"id":"d85b56cf.d3223","type":"inject","z":"bf6c643.0a83198","name":"read data","props":[],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payloadType":"str","x":100,"y":120,"wires":[["d5ca7058.d07d98"]]},{"id":"d5ca7058.d07d98","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"create table configuration (ID INT PRIMARY KEY NOT NULL, NAME TEXT, VALUE TEXT)","name":"create table configuraton","x":310,"y":120,"wires":[["1d8e2bfe.dd5a24"]]},{"id":"1d8e2bfe.dd5a24","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into configuration (ID,NAME,VALUE) VALUES (1,'alexa_device','')","name":"init configuration","x":540,"y":120,"wires":[["c60de798.07181"]]},{"id":"c60de798.07181","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into configuration (ID,NAME,VALUE) VALUES (2,'alexa_username','')","name":"init configuration","x":740,"y":120,"wires":[["364368d1.b9fe6"]]},{"id":"364368d1.b9fe6","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into configuration (ID,NAME,VALUE) VALUES (3,'alexa_password','')","name":"init configuration","x":540,"y":180,"wires":[["78ac4199.510ca8"]]},{"id":"78ac4199.510ca8","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into configuration (ID,NAME,VALUE) VALUES (4,'tv_device','')","name":"init configuration","x":740,"y":180,"wires":[["e675475e.bae2f8"]]},{"id":"e675475e.bae2f8","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into configuration (ID,NAME,VALUE) VALUES (5,'tv_device_size','')","name":"init configuration","x":540,"y":240,"wires":[["1e2e359c.e8b852"]]},{"id":"1e2e359c.e8b852","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into configuration (ID,NAME,VALUE) VALUES (6,'tv_device_res','')","name":"init configuration","x":740,"y":240,"wires":[["1683883.9206878"]]},{"id":"d83d7e97.7e76e","type":"function","z":"22e8c15.1224cbe","name":"check configuration","func":"var tv = global.get('tv_device');\nvar tv_size = global.get('tv_device_size');\nvar tv_res = global.get('tv_device_res');\nvar msg_error = null;\nvar msg_start = null;\n\nif(tv === \"\"){\n    msg_error = {payload: \"In configurazione specificare l'indirizzo ip del dispositivo ChromeCast\"}\n}else{\n    msg_start = { paylaod : msg.payload };\n}\nif(tv_size === \"\"){\n    msg_error = {payload: \"In configurazione specificare la grandezza in pollici del dispositivo ChromeCast\"}\n}else{\n    msg_start = { paylaod : msg.payload };\n}\nif(tv_res === \"\"){\n    msg_error = {payload: \"In configurazione specificare la risoluzione del dispositivo ChromeCast\"}\n}else{\n    msg_start = { paylaod : msg.payload };\n}\n\nreturn [msg_start, msg_error];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":230,"y":100,"wires":[["7b214c73.3220d4"],["28fa860b.38cb22"]]},{"id":"28fa860b.38cb22","type":"function","z":"22e8c15.1224cbe","name":"configuration error","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": msg.payload,\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":160,"wires":[["28ca6659.1163f2"]]},{"id":"28ca6659.1163f2","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":660,"y":160,"wires":[[]]},{"id":"9f2b2b1a.b00988","type":"function","z":"1c2e132b.ce94cd","name":"configuration error","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": msg.payload,\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":140,"wires":[["31d0e84e.52abe8"]]},{"id":"31d0e84e.52abe8","type":"alexa-remote-routine","z":"1c2e132b.ce94cd","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":660,"y":140,"wires":[[]]},{"id":"f5b94afe.2dd98","type":"function","z":"1c2e132b.ce94cd","name":"check configuration","func":"var tv = global.get('tv_device');\nvar tv_size = global.get('tv_device_size');\nvar tv_res = global.get('tv_device_res');\nvar msg_error = null;\nvar msg_start = null;\n\nif(tv === \"\"){\n    msg_error = {payload: \"In configurazione specificare l'indirizzo ip del dispositivo ChromeCast\"}\n}else{\n    msg_start = { paylaod : msg.payload };\n}\nif(tv_size === \"\"){\n    msg_error = {payload: \"In configurazione specificare la grandezza in pollici del dispositivo ChromeCast\"}\n}else{\n    msg_start = { paylaod : msg.payload };\n}\nif(tv_res === \"\"){\n    msg_error = {payload: \"In configurazione specificare la risoluzione del dispositivo ChromeCast\"}\n}else{\n    msg_start = { paylaod : msg.payload };\n}\n\nreturn [msg_start, msg_error];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":230,"y":100,"wires":[["3c7721c0.603bf6"],["9f2b2b1a.b00988"]]},{"id":"158cbdd4.a3e6fa","type":"delay","z":"22e8c15.1224cbe","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":40,"wires":[["339f6de5.0eae32"]]},{"id":"dba743a7.e1118","type":"function","z":"e6e49d53.ab7258","name":"","func":"var livello1 = 0;\nvar livello2 = 0;\nvar livello3 = 0;\nvar livello4 = 0;\nvar livello5 = 0;\nvar livello6 = 0;\nvar livello7 = 0;\nvar livello8 = 0;\nvar livello9 = 0;\nvar livello10 = 0;\n\nvar data = msg.payload;\nlet i = 0;\ndata.forEach(function (risposta) {\n\n    risposta = risposta.toUpperCase();\n    if(risposta === \"ci\" || risposta === \"si\" || risposta === \"sì\" || risposta === \"k\"){\n        risposta = \"c\";\n    }\n    if(risposta.length > 1) {\n        risposta = risposta.substr(0,1);\n    }\n\n    switch(i+1){\n        case 1:\n            if(risposta === \"E\")\n                livello1++;\n            break;\n        case 2:\n            if(risposta === \"F\")\n                livello2++;\n            break;\n        case 3:\n            if(risposta === \"P\")\n                livello2++;\n            break;\n        case 4:\n            if(risposta === \"T\")\n                livello3++;\n            break;\n        case 5:\n            if(risposta === \"O\")\n                livello3++;\n            break;\n        case 6:\n            if(risposta === \"Z\")\n                livello3++;\n            break;\n        case 7:\n            if(risposta === \"L\")\n                livello4++;\n            break;\n        case 8:\n            if(risposta === \"P\")\n                livello4++;\n            break;\n        case 9:\n            if(risposta === \"E\")\n                livello4++;\n            break;\n        case 10:\n            if(risposta === \"D\")\n                livello4++;\n            break;\n        case 11:\n            if(risposta === \"P\")\n                livello5++;\n            break;\n        case 12:\n            if(risposta === \"E\")\n                livello5++;\n            break;\n        case 13:\n            if(risposta === \"C\")\n                livello5++;\n            break;\n        case 14:\n            if(risposta === \"F\")\n                livello5++;\n            break;\n        case 15:\n            if(risposta === \"D\")\n                livello5++;\n            break;\n        case 16:\n            if(risposta === \"E\")\n                livello6++;\n            break;\n        case 17:\n            if(risposta === \"D\")\n                livello6++;\n            break;\n        case 18:\n            if(risposta === \"F\")\n                livello6++;\n            break;\n        case 19:\n            if(risposta === \"C\")\n                livello6++;\n            break;\n        case 20:\n            if(risposta === \"Z\")\n                livello6++;\n            break;\n        case 21:\n            if(risposta === \"P\")\n                livello6++;\n            break;\n        case 22:\n            if(risposta === \"F\")\n                livello7++;\n            break;\n        case 23:\n            if(risposta === \"E\")\n                livello7++;\n            break;\n        case 24:\n            if(risposta === \"L\")\n                livello7++;\n            break;\n        case 25:\n            if(risposta === \"O\")\n                livello7++;\n            break;\n        case 26:\n            if(risposta === \"P\")\n                livello7++;\n            break;\n        case 27:\n            if(risposta === \"Z\")\n                livello7++;\n            break;\n        case 28:\n            if(risposta === \"D\")\n                livello7++;\n            break;\n        case 29:\n            if(risposta === \"D\")\n                livello8++;\n            break;\n        case 30:\n            if(risposta === \"E\")\n                livello8++;\n            break;\n        case 31:\n            if(risposta === \"F\")\n                livello8++;\n            break;\n        case 32:\n            if(risposta === \"P\")\n                livello8++;\n            break;\n        case 33:\n            if(risposta === \"O\")\n                livello8++;\n            break;\n        case 34:\n            if(risposta === \"T\")\n                livello8++;\n            break;\n        case 35:\n            if(risposta === \"E\")\n                livello8++;\n            break;\n        case 36:\n            if(risposta === \"C\")\n                livello8++;\n            break;\n        case 37:\n            if(risposta === \"L\")\n                livello9++;\n            break;\n        case 38:\n            if(risposta === \"E\")\n                livello9++;\n            break;\n        case 39:\n            if(risposta === \"F\")\n                livello9++;\n            break;\n        case 40:\n            if(risposta === \"O\")\n                livello9++;\n            break;\n        case 41:\n            if(risposta === \"D\")\n                livello9++;\n            break;\n        case 42:\n            if(risposta === \"P\")\n                livello9++;\n            break;\n        case 43:\n            if(risposta === \"C\")\n                livello9++;\n            break;\n        case 44:\n            if(risposta === \"T\")\n                livello9++;\n            break;\n        case 45:\n            if(risposta === \"F\")\n                livello10++;\n            break;\n        case 46:\n            if(risposta === \"D\")\n                livello10++;\n            break;\n        case 47:\n            if(risposta === \"P\")\n                livello10++;\n            break;\n        case 48:\n            if(risposta === \"L\")\n                livello10++;\n            break;\n        case 49:\n            if(risposta === \"T\")\n                livello10++;\n            break;\n        case 50:\n            if(risposta === \"C\")\n                livello10++;\n            break;\n        case 51:\n            if(risposta === \"E\")\n                livello10++;\n            break;\n        case 52:\n            if(risposta === \"O\")\n                livello10++;\n            break;\n    }\n    i++;\n})\n\nvar livello = 10;\nif(livello10 < 7)\n    livello = 9\nif(livello9 < 7)\n    livello = 8\nif(livello8 < 7)\n    livello = 7\nif(livello7 < 7)\n    livello = 6\nif(livello6 < 6)\n    livello = 5\nif(livello5 < 5)\n    livello = 4\nif(livello4 < 4)\n    livello = 3\nif(livello3 < 3)\n    livello = 2\nif(livello2 < 2)\n    livello = 1\nif(livello1 < 1)\n    livello = 0\n    \nnode.warn('lvl1: ' + livello1);\nnode.warn('lvl2: ' + livello2);\nnode.warn('lvl3: ' + livello3);\nnode.warn('lvl4: ' + livello4);\nnode.warn('lvl5: ' + livello5);\nnode.warn('lvl6: ' + livello6);\nnode.warn('lvl7: ' + livello7);\nnode.warn('lvl8: ' + livello8);\nnode.warn('lvl9: ' + livello9);\nnode.warn('lvl10: ' + livello10);\n\nmsg.payload = { \"valutation\": livello, \"results\" : data };\n\nnode.warn('val:' + livello);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":80,"wires":[[]]},{"id":"2d830500.7881b4","type":"subflow:e6e49d53.ab7258","z":"22e8c15.1224cbe","name":"","env":[],"x":480,"y":780,"wires":[["ca492125.10a788","7b6ae02b.29361","fb746923.d5544"]]},{"id":"2ae1f5c0.55ec2a","type":"subflow:bf6c643.0a83198","z":"d8282f32.312a2","name":"","env":[],"x":90,"y":40,"wires":[["af319a93.f52cb8"]]},{"id":"7c32d679.036f","type":"catch","z":"bf6c643.0a83198","name":"","scope":null,"uncaught":false,"x":740,"y":40,"wires":[[]]},{"id":"af319a93.f52cb8","type":"delay","z":"d8282f32.312a2","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":40,"wires":[["ab988469.ccab7"]]},{"id":"8c25a93e.9f746","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_res');\nvar tv_res = global.get('tv_device_res');\nlet width = 0;\n\nfound.forEach ( line => {\n    if(line.nome === tv_res){\n        width = line.altezza;\n    }\n})\n\nmsg.payload = width;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":660,"wires":[["d039b5f9.48af8"]]},{"id":"d039b5f9.48af8","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_res_height","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":660,"wires":[[]]},{"id":"177c6193.94a646","type":"function","z":"e8b7cfc5.2ce4b","name":"","func":"let response = msg.payload;\nlet found = global.get('tv_sizes');\nvar tv_size = global.get('tv_device_size');\nlet larghezza = 0\n\nfound.forEach ( line => {\n    if(line.pollici === tv_size){\n        larghezza = line.larghezza;\n    }\n})\nmsg.payload = larghezza;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":520,"wires":[["97de0ee4.bc643"]]},{"id":"97de0ee4.bc643","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"tv_device_size_width","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":520,"wires":[[]]},{"id":"86a58080.7fae88","type":"delay","z":"22e8c15.1224cbe","name":"","pauseType":"delay","timeout":"33","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":600,"wires":[["13690310.eac1dd"]]},{"id":"13690310.eac1dd","type":"function","z":"22e8c15.1224cbe","name":"","func":"var current_step = global.get('current_step');\nvar aborted = global.get('aborted');\n\nif(aborted == 'ABORTED')\n{\n    msg =null;\n}\nelse{\n    if(current_step == msg.payload){\n        msg.payload = \"ERROR\";\n        global.set('aborted', 'ABORTED');\n    }else{\n        msg = null;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":600,"wires":[["4c7b179.33837e8"]]},{"id":"4c7b179.33837e8","type":"function","z":"22e8c15.1224cbe","name":"save status","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nnode.warn('ABORTED');\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": \"L'esame sembra essersi interrotto in maniera inaspettata. Sono stati salvati i risultati ed i progressi dell'esame. Puoi ricominciare l'esame da dove lo hai lasciato.\",\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":600,"wires":[["b391a281.123e28"]]},{"id":"b391a281.123e28","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1200,"y":600,"wires":[[]]},{"id":"e8dc01e1.350758","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"create table results (ID INT PRIMARY KEY NOT NULL, EXAM TEXT, STEP NUMERIC, RESULTS TEXT, DISTANCE NUMERIC)","name":"create table results","x":290,"y":400,"wires":[["66e586ee.e8b168"]]},{"id":"66e586ee.e8b168","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into results (ID,EXAM,STEP,RESULTS,DISTANCE) VALUES (1,'VISTA',0, '',0)","name":"init results","x":520,"y":400,"wires":[["eba65a09.389528"]]},{"id":"7b6ae02b.29361","type":"function","z":"22e8c15.1224cbe","name":"prepare statement","func":"global.set('aborted', '');\n        \nmsg.topic = \"update results set results = '', step = 0, distance = 0 where exam = 'VISTA';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":820,"wires":[["f02b4c59.0231d"]]},{"id":"f02b4c59.0231d","type":"sqlite","z":"22e8c15.1224cbe","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"delete results","x":890,"y":820,"wires":[[]]},{"id":"7b214c73.3220d4","type":"sqlite","z":"22e8c15.1224cbe","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"select * from results where EXAM = 'VISTA';","name":"read results","x":430,"y":80,"wires":[["67a95063.f95988"]]},{"id":"67a95063.f95988","type":"function","z":"22e8c15.1224cbe","name":"retrieve data","func":"var step = 0;\nvar results = \"\";\nvar distance = 0;\nvar msg_restore = null;\n\nmsg.payload.forEach(function (item) { \n    results = item.RESULTS;\n    step = item.STEP;\n    distance = item.DISTANCE;\n}); \n\nif(results !== \"\" && step > 1){\n    msg_restore = {\"payload\" : \"GO\"};\n    msg = null;\n\n    global.set('distance', distance);\n}\n\nreturn [msg, msg_restore];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":610,"y":80,"wires":[["b141bb3.e1dc3c8"],["c3faa0b3.9bbd3"]]},{"id":"a334007d.a417d8","type":"http in","z":"22e8c15.1224cbe","name":"","url":"/getpartialresults","method":"get","upload":false,"swaggerDoc":"","x":140,"y":940,"wires":[["c0c3d8e2.e76538","bb36ab04.4af56"]]},{"id":"d430401f.3f2b98","type":"http response","z":"22e8c15.1224cbe","name":"","x":830,"y":940,"wires":[]},{"id":"c0c3d8e2.e76538","type":"sqlite","z":"22e8c15.1224cbe","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"select * from results where EXAM = 'VISTA';","name":"read results","x":350,"y":980,"wires":[["89b9fb7e.7a3468"]]},{"id":"89b9fb7e.7a3468","type":"function","z":"22e8c15.1224cbe","name":"retrieve data","func":"var step = 0;\nvar results = \"\";\n\nmsg.payload.forEach(function (item) { \n    results = item.RESULTS;\n    step = item.STEP;\n}); \n\nflow.set('results', results);\nflow.set('step', step);\nflow.set('mode', global.get('mode'));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":980,"wires":[[]]},{"id":"635cdda0.ca4674","type":"change","z":"22e8c15.1224cbe","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":940,"wires":[["d430401f.3f2b98"]]},{"id":"11993594.9def12","type":"template","z":"22e8c15.1224cbe","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"results\": \"{{flow.results}}\", \"step\": \"{{flow.step}}\"}","output":"str","x":510,"y":940,"wires":[["635cdda0.ca4674"]]},{"id":"bb36ab04.4af56","type":"delay","z":"22e8c15.1224cbe","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":940,"wires":[["11993594.9def12"]]},{"id":"c3faa0b3.9bbd3","type":"function","z":"22e8c15.1224cbe","name":"ask skill statement","func":"var alexa_device = global.get('alexa_device');\nvar skill = \"amzn1.ask.skill.1f33658c-9bc7-4529-a830-c2824941b8fd\";\n\nvar payload = {\"type\": \"skill\",\n    payload:\n    {\n        'skill': skill,\n        \"device\": alexa_device\n    }\n}\nmsg = { \"payload\": payload };\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":120,"wires":[["de19963d.0ee0f8"]]},{"id":"de19963d.0ee0f8","type":"alexa-remote-routine","z":"22e8c15.1224cbe","name":"","account":"fbab9837.1c28f8","routineNode":{"type":"custom","payload":{"type":"msg","value":"payload"}},"x":1020,"y":120,"wires":[[]]},{"id":"ad05f3c0.53c3a8","type":"function","z":"22e8c15.1224cbe","name":"prepare statement","func":"\nglobal.set('aborted', '');\n        \nmsg.topic = \"update results set results = '', step = 0, distance = 0 where exam = 'VISTA';\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":280,"wires":[["20e76da6.4390aa"]]},{"id":"20e76da6.4390aa","type":"sqlite","z":"22e8c15.1224cbe","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"delete results","x":530,"y":280,"wires":[[]]},{"id":"c7e341a0.381cc","type":"http in","z":"81db36c8.ca3b58","name":"","url":"/get_tavola","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["3d7fc928.d5210e"]]},{"id":"2fb1c354.d04e3c","type":"file in","z":"81db36c8.ca3b58","name":"","filename":"","format":"","x":490,"y":60,"wires":[["c9e28681.361d78"]]},{"id":"c9e28681.361d78","type":"change","z":"81db36c8.ca3b58","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":60,"wires":[["88974243.7768c"]]},{"id":"88974243.7768c","type":"http response","z":"81db36c8.ca3b58","name":"","x":810,"y":60,"wires":[]},{"id":"3d7fc928.d5210e","type":"function","z":"81db36c8.ca3b58","name":"","func":"var id = msg.payload.id;\nmsg.filename = \"jpg/Tavola\" + id + \".jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":60,"wires":[["2fb1c354.d04e3c"]]},{"id":"d1d7ddf1.931c68","type":"http in","z":"81db36c8.ca3b58","name":"","url":"/get_optometrica","method":"get","upload":false,"swaggerDoc":"","x":140,"y":120,"wires":[["479ef455.bc2554"]]},{"id":"bcae6dcd.dba33","type":"file in","z":"81db36c8.ca3b58","name":"","filename":"","format":"","x":490,"y":120,"wires":[["e68e07c4.553458"]]},{"id":"e68e07c4.553458","type":"change","z":"81db36c8.ca3b58","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["71a744a0.24531c"]]},{"id":"71a744a0.24531c","type":"http response","z":"81db36c8.ca3b58","name":"","x":810,"y":120,"wires":[]},{"id":"479ef455.bc2554","type":"function","z":"81db36c8.ca3b58","name":"","func":"var id = msg.payload.id;\nmsg.filename = \"jpg/converted/optometrica_\" + id + \".jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["bcae6dcd.dba33"]]},{"id":"4b557d54.bbc8d4","type":"http in","z":"81db36c8.ca3b58","name":"","url":"/get_chessboard","method":"get","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["8b64b19e.9531c"]]},{"id":"5dc8402b.f2c798","type":"file in","z":"81db36c8.ca3b58","name":"","filename":"","format":"","x":490,"y":240,"wires":[["abe37cbb.15ae58"]]},{"id":"abe37cbb.15ae58","type":"change","z":"81db36c8.ca3b58","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["5f4d3895.0d766"]]},{"id":"5f4d3895.0d766","type":"http response","z":"81db36c8.ca3b58","name":"","x":810,"y":240,"wires":[]},{"id":"8b64b19e.9531c","type":"function","z":"81db36c8.ca3b58","name":"","func":"var id = msg.payload.id;\nmsg.filename = \"jpg/chessboard.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[["5dc8402b.f2c798"]]},{"id":"a3da08c6.7f05d","type":"subflow:81db36c8.ca3b58","z":"d8282f32.312a2","name":"","x":110,"y":120,"wires":[]},{"id":"ab1d4b53.1b1488","type":"subflow:d37d8f66.577de","z":"22e8c15.1224cbe","name":"","env":[],"x":920,"y":680,"wires":[]},{"id":"a64b97.94c8fc68","type":"function","z":"d37d8f66.577de","name":"Optometriche","func":"var i = msg.payload;\nnode.send( {filename: \"jpg/optometrica_\" + i + \".jpg\", convertedfilename: \"jpg/converted/optometrica_\" + i + \".jpg\" } )\n\nreturn null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":40,"wires":[["4ffe8ffa.f0649"]]},{"id":"80b478ae.9213e","type":"file in","z":"d37d8f66.577de","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":950,"y":40,"wires":[["1eab5ac0.81cce5"]]},{"id":"4ffe8ffa.f0649","type":"file in","z":"d37d8f66.577de","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"base64","x":350,"y":40,"wires":[["584a9b3c.7a2c14"]]},{"id":"584a9b3c.7a2c14","type":"function","z":"d37d8f66.577de","name":"","func":"var tv_res_width = global.get('tv_device_res_width');\nvar tv_res_height = global.get('tv_device_res_height');\n\nvar new_height = global.get('newheight');\nvar new_width = global.get('newwidth');\n\nvar x = (tv_res_width - new_width) / 2;\nvar y = (tv_res_height - new_height) / 2;\n\nglobal.set('positionx', x);\nglobal.set('positiony', y);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":40,"wires":[["687e2170.a753e8"]]},{"id":"1eab5ac0.81cce5","type":"jimp-image","z":"d37d8f66.577de","name":"Load image","data":"payload","dataType":"msg","ret":"img","parameter1":"","parameter1Type":"","parameter2":"","parameter2Type":"","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"base","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":370,"y":100,"wires":[["25a3fc79.e9569c"]]},{"id":"25a3fc79.e9569c","type":"jimp-image","z":"d37d8f66.577de","name":"blit","data":"base","dataType":"msg","ret":"img","parameter1":"optometrica","parameter1Type":"msg","parameter2":"positionx","parameter2Type":"global","parameter3":"positiony","parameter3Type":"global","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"none","parameter6":"","parameter6Type":"none","parameter7":"","parameter7Type":"none","parameter8":"","parameter8Type":"","sendProperty":"result","parameterCount":7,"jimpFunction":"blit","selectedJimpFunction":{"name":"blit","fn":"blit","description":"blit the image with another Jimp image at x, y, optionally cropped","parameters":[{"name":"src","type":"","required":true,"hint":"the source image (a Jimp instance)","defaultType":"msg","defaultValue":"payload"},{"name":"x","type":"num","required":true,"hint":"the x position to blit the image"},{"name":"y","type":"num","required":true,"hint":"the y position to blit the image"},{"name":"srcx","type":"num","required":false,"hint":"the x position from which to crop the source image"},{"name":"srcy","type":"num","required":false,"hint":"the y position from which to crop the source image"},{"name":"srcw","type":"num","required":false,"hint":"the width to which to crop the source image"},{"name":"srch","type":"num","required":false,"hint":"the height to which to crop the source image"}]},"x":530,"y":100,"wires":[["5d695d51.dfbb04"]],"icon":"font-awesome/fa-image"},{"id":"687e2170.a753e8","type":"jimp-image","z":"d37d8f66.577de","name":"resize","data":"payload","dataType":"msg","ret":"img","parameter1":"newwidth","parameter1Type":"global","parameter2":"newheight","parameter2Type":"global","parameter3":"RESIZE_BEZIER","parameter3Type":"resizeMode","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"optometrica","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":650,"y":40,"wires":[["7d5ae7e.4e06098"]]},{"id":"7d5ae7e.4e06098","type":"function","z":"d37d8f66.577de","name":"","func":"var tv_res_width = global.get('tv_device_res_width');\nvar tv_res_height = global.get('tv_device_res_height');\n\nmsg.filename= \"jpg/\"+ tv_res_width + \"x\" + tv_res_height+ \".jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":40,"wires":[["80b478ae.9213e"]]},{"id":"1cb58f87.f23018","type":"function","z":"448a7e69.b22e28","name":"","func":"var results = msg.payload;\nresults = results.substring(9).split('_');\n\nmsg.payload = results;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[["bfdf84bf.82d0d8"]]},{"id":"bfdf84bf.82d0d8","type":"subflow:3b8680bc.495b08","z":"448a7e69.b22e28","name":"","env":[],"x":460,"y":100,"wires":[["636ba10e.8767c"]]},{"id":"636ba10e.8767c","type":"function","z":"448a7e69.b22e28","name":"exam ended","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar visione = msg.payload.visione;\nvar protane = msg.payload.protane;\nvar deutane = msg.payload.deutane;\n\nvar text_message = \"Bene, esame terminato, sto elaborando le tue risposte...\";\n\nif((protane > 0 && protane < 5) || (deutane > 0 && deutane < 5))\n    text_message += \"Soffri di una leggera Discromatopsia protane o deutane, consigliamo un consulto specializzato.\"\nelse if(protane >= 5)\n    text_message += \"Soffri di una forma importante di Discromatopsia protane, consigliamo un consulto specializzato.\"\nelse if(deutane >= 5)\n    text_message += \"Soffri di una forma importante di Discromatopsia deutane, consigliamo un consulto specializzato.\"\nelse if(visione == 21)\n    text_message += \"Sembra tu non abbia problemi di daltonismo.\"\nelse if(visione < 21 && visione > 15)\n    text_message += \"Soffri di una leggera forma di daltonismo, consigliamo un consulto specializzato.\"\nelse if(visione <= 15)\n    text_message += \"Soffri di una forma importante di daltonismo, consigliamo un consulto specializzato.\"\n\nvar payload = {\"type\": \"speakAtVolume\",\n    payload:\n    {\n        \"volume\": alexa_volume,\n        \"type\": 'regular',\n        \"text\": text_message,\n        \"devices\": [alexa_device]\n    }\n}\nvar msg_tospeak = { \"payload\": payload };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":100,"wires":[["e94c7cf3.d58dc8"]]},{"id":"302be57.06b001a","type":"inject","z":"448a7e69.b22e28","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12_8_6_29_57_5_3_15_74_2_6_97_45_5_7_16_73_0_0_0_0_26_42_35_96_","payloadType":"str","x":110,"y":100,"wires":[["1cb58f87.f23018"]]},{"id":"17c8adf8.557c92","type":"comment","z":"448a7e69.b22e28","name":"Test risultati daltonismo","info":"Test risultati daltonismo","x":140,"y":60,"wires":[]},{"id":"2566881d.207de","type":"function","z":"448a7e69.b22e28","name":"","func":"var ip_device = global.get('tv_device');\n\nmsg = \n{\n  payload: {\n      //url: \"https://www.overside.it/unicam/videoexam/optometrica.jpg\",\n      url: \"https://unicam.ngrok.io/get_chessboard\",\n      contentType: \"image/jpeg\", \n      ip: ip_device\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":180,"wires":[["11354e46.64977a"]]},{"id":"11354e46.64977a","type":"cast-to-client","z":"448a7e69.b22e28","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":410,"y":180,"wires":[[]]},{"id":"773a40e8.148508","type":"inject","z":"448a7e69.b22e28","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12_8_6_29_57_5_3_15_74_2_6_97_45_5_7_16_73_0_0_0_0_26_42_35_96_","payloadType":"str","x":110,"y":180,"wires":[["2566881d.207de"]]},{"id":"e700fac.096a588","type":"function","z":"448a7e69.b22e28","name":"","func":"\n//INSUFFICIENTE\nvar results = \"E_0_0_0_O_Z_0_P_E_0_0_0_0_0_0_0_0_F_0_0_0_F_E_0_0_0_0_0_0_E_F_0_0_0_0_0_0_E_0_O_0_0_0_0_0_0_0_0_0_0_E_O_\";\n//OTTIMA\n//var results = \"E_F_P_0_O_Z_0_P_E_0_0_0_C_F_0_0_D_F_0_0_0_F_E_0_0_0_0_0_0_E_F_0_0_0_0_0_0_E_0_O_0_0_0_0_0_0_0_0_0_0_E_O_\";\n\nmsg.payload = results.split('_');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":300,"wires":[["218f62fe.ac1926"]]},{"id":"218f62fe.ac1926","type":"subflow:e6e49d53.ab7258","z":"448a7e69.b22e28","name":"","env":[],"x":440,"y":300,"wires":[["f5e387f1.4e4438"]]},{"id":"f5e387f1.4e4438","type":"function","z":"448a7e69.b22e28","name":"exam ended","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\n\nvar text_message = \"Bene, esame terminato, sto elaborando le tue risposte...\";\n\nvar livello = msg.payload;\nvar additional = \"la tua acuità visiva risulta insufficiente\";\nif(livello >= 4){\n    additional = \"la tua acuità visiva non risulta essere soddisfacente\";\n}\nif(livello >= 6){\n    additional = \"la tua acuità visiva non risulta essere buona\";\n}\nif(livello >= 8){\n    additional = \"la tua acuità visiva risulta buona\";\n}\nif(livello >= 9){\n    additional = \"la tua acuità visiva risulta molto buona\";\n}\nif(livello >= 10){\n    additional = \"la tua acuità visiva risulta ottima\";\n}\ntext_message += additional;\nvar msg_tospeak = { \"payload\": text_message };\n\nreturn msg_tospeak;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":300,"wires":[["385dd6d5.7d4de2"]]},{"id":"52f47172.f8c618","type":"comment","z":"448a7e69.b22e28","name":"Test TV cast","info":"Test risultati daltonismo","x":110,"y":140,"wires":[]},{"id":"14f41120.6281af","type":"inject","z":"448a7e69.b22e28","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"e_f_p_t_o_z_l_p_e_d_p_f_ci_f_d_e_d_f_ci_z_p_f_e_l_o_p_z_d_d_e_f_p_o_t_e_ci_l_e_f_o_d_p_ci_d_a_d_p_l_t_ci_e_o_","payloadType":"str","x":110,"y":300,"wires":[["e700fac.096a588"]]},{"id":"385dd6d5.7d4de2","type":"debug","z":"448a7e69.b22e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":300,"wires":[]},{"id":"b440b42f.7a6c98","type":"comment","z":"448a7e69.b22e28","name":"Test risultati acuità visiva","info":"Test risultati acuità visiva","x":150,"y":260,"wires":[]},{"id":"e94c7cf3.d58dc8","type":"debug","z":"448a7e69.b22e28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":100,"wires":[]},{"id":"3e647653.dc101a","type":"comment","z":"448a7e69.b22e28","name":"Test image resize","info":"Test image resize","x":120,"y":340,"wires":[]},{"id":"ed33383d.6a0c78","type":"jimp-image","z":"d37d8f66.577de","name":"write file","data":"result","dataType":"msg","ret":"img","parameter1":"convertedfilename","parameter1Type":"msg","parameter2":"true","parameter2Type":"bool","parameter3":"0","parameter3Type":"str","parameter4":"RESIZE_NEAREST_NEIGHBOR","parameter4Type":"Jimp","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":1,"jimpFunction":"write","selectedJimpFunction":{"name":"write","fn":"write","description":"Write to file. NOTE: You can specify an alternative file extension type to change the type. Currently support types are jpg, png, bmp.","parameters":[{"name":"filename","type":"str","required":true,"hint":"Name of the file","defaultType":"str"}]},"x":840,"y":100,"wires":[[]],"icon":"font-awesome/fa-image"},{"id":"fec13811.fe282","type":"function","z":"448a7e69.b22e28","name":"start exam","func":"var alexa_device = global.get('alexa_device');\nvar alexa_volume = global.get('alexa_speak_volume');\nvar tv_device_size_width = global.get('tv_device_size_width') * 10; //trasformazione da cm in mm\nvar tv_res_width = global.get('tv_device_res_width');\nvar tv_res_height = global.get('tv_device_res_height');\nvar msg_start_skill = null;\nvar msg_new = null;\nvar msg_resize = null;\n\nnode.warn('tv_device_size_width: ' + tv_device_size_width);\nnode.warn('tv_res_width: ' + tv_res_width);\nnode.warn('tv_res_height: ' + tv_res_height);\n\nvar chessWidth = 500;\nvar sensorWidth = 5.65;\nvar focalLength = 4.2;\nvar imageWidth = 1280;\n\nvar restore = 0;\n\nif(parseInt(restore) === 0){    \n    global.set('sensorWidth', sensorWidth);\n    global.set('chessWidth', chessWidth);\n    global.set('focalLength', focalLength);\n    global.set('imageWidth', imageWidth);\n    \n    node.warn('sensorWidth: ' + sensorWidth);\n    node.warn('chessWidth: ' + chessWidth);\n    node.warn('focalLength: ' + focalLength);\n    node.warn('imageWidth: ' + imageWidth);\n    \n    const scac_width = 1697;\n    const scac_height = 1195;\n    const corners_width = 1330;\n    \n    //proporzione angoli interni / larghezza scaccchiera\n    var prop = corners_width / scac_width;\n    node.warn('prop: ' + prop);\n    \n    //proporzione altezza scacchiera /altezza risoluzione tv\n    var prop_height = tv_res_height / scac_height;\n    node.warn('prop_height: ' + prop_height);\n    \n    //calcolo proporzione grandezza immagine sullo schermo \n    //dato che foto centrata sullo schermo in altezza (ridim. Altezza)\n    var tv_chess_width = scac_width * prop * prop_height;\n    node.warn('tv_chess_width: ' + tv_chess_width);\n    \n    //calcolo dimensione immagine nello schermo in base ai pixel rilevati dell'immagine\n    var width = (tv_device_size_width / tv_res_width) * tv_chess_width;\n    node.warn('width: ' + width);\n    \n    //calcolo distanza\n    var distance = (focalLength * width * imageWidth) / (chessWidth * sensorWidth);\n    //arrotondamento distanza e conversione in metri\n    var dist_m = (distance / 1000).toFixed(2);\n    \n    global.set('distance', dist_m);\n    \n    //calcolo scala immagini in base alla distanza\n    var tavola_height = 56 * 10;\n    var tavola_width = 28 * 10;\n    //proporzione tavola da 3m a distanza calcolata\n    var mm_tavola = tavola_width / 3000;\n    mm_tavola = mm_tavola * dist_m * 1000;\n    \n    var tavola_new_width = (tv_res_width / tv_device_size_width) * mm_tavola;\n    var tavola_img_height = 1404;\n    var tavola_img_width = 743;\n    var tavola_new_height = (tavola_new_width / tavola_img_width) * tavola_img_height;\n    \n    var rounded_width = (tavola_new_width / 100) *100;\n    var rounded_height = (tavola_new_height / 100) *100;\n    node.warn('new width: ' + rounded_width);\n    node.warn('new height: ' + rounded_height);\n    global.set('newheight', rounded_height);\n    global.set('newwidth', rounded_width);\n\n}\nnode.warn('distance: ' + dist_m);\n\n//calcolare fattore di scala\nmsg_resize = {payload: {\"from\":1,\"to\":8,\"scalef\":0.5}};\n\nreturn msg_resize;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":380,"wires":[["1fa8a2ee.c36345"]]},{"id":"5658936b.6522ac","type":"inject","z":"448a7e69.b22e28","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":110,"y":380,"wires":[["fec13811.fe282"]]},{"id":"1fa8a2ee.c36345","type":"subflow:d37d8f66.577de","z":"448a7e69.b22e28","name":"","env":[],"x":460,"y":380,"wires":[]},{"id":"1576ab90.b2a0ec","type":"function","z":"22e8c15.1224cbe","name":"prepare statement","func":"var i = parseInt(msg.payload.step) + 1;\nvar msg_resize = {payload: i};\nreturn msg_resize;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":680,"wires":[["ab1d4b53.1b1488"]]},{"id":"c952742.4d9ae08","type":"function","z":"448a7e69.b22e28","name":"","func":"var ip_device = global.get('tv_device');\n\nmsg = \n{\n  payload: {\n      //url: \"https://www.overside.it/unicam/videoexam/optometrica.jpg\",\n      url: \"https://unicam.ngrok.io/get_optometrica?id=1\",\n      contentType: \"image/jpeg\", \n      ip: ip_device\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["a0ca14b2.2d35d"]]},{"id":"a0ca14b2.2d35d","type":"cast-to-client","z":"448a7e69.b22e28","name":"","url":"","contentType":"","message":"","language":"en","ip":"","port":"","volume":"","x":410,"y":220,"wires":[[]]},{"id":"3562ab75.2c4f84","type":"inject","z":"448a7e69.b22e28","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"12_8_6_29_57_5_3_15_74_2_6_97_45_5_7_16_73_0_0_0_0_26_42_35_96_","payloadType":"str","x":110,"y":220,"wires":[["c952742.4d9ae08"]]},{"id":"2a266c36.62777c","type":"ui_button","z":"e8b7cfc5.2ce4b","name":"Alexa init","group":"77bb108.155f57","order":6,"width":0,"height":0,"passthru":false,"label":"Re-Inizializza","tooltip":"","color":"","bgcolor":"","icon":"amazon","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":360,"wires":[["44a6eb79.228cb4"]]},{"id":"aba1ce1b.01d018","type":"function","z":"22e8c15.1224cbe","name":"prepare statement","func":"global.set('aborted', '');\n\nvar dist = global.get('distance');\n\nmsg.topic = \"update results set results = '\" +msg.payload.results + \"', step = \"+msg.payload.step+\", distance = \" + dist +\" where exam = 'VISTA';\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":640,"wires":[["479f7cb8.d874fc"]]},{"id":"479f7cb8.d874fc","type":"sqlite","z":"22e8c15.1224cbe","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"save results","x":910,"y":640,"wires":[[]]},{"id":"2bd22c6e.f30dac","type":"ui_switch","z":"e8b7cfc5.2ce4b","name":"","label":"Usa URI locali","tooltip":"","group":"e9d42dd7.5b2c18","order":6,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"L","onvalueType":"str","onicon":"","oncolor":"","offvalue":"R","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":520,"y":700,"wires":[["6aeb1f0d.8c30e8"]]},{"id":"1683883.9206878","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"insert into configuration (ID,NAME,VALUE) VALUES (7,'mode','L')","name":"init configuration","x":540,"y":300,"wires":[["e8dc01e1.350758"]]},{"id":"6aeb1f0d.8c30e8","type":"change","z":"e8b7cfc5.2ce4b","name":"","rules":[{"t":"set","p":"mode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":700,"wires":[[]]},{"id":"41232bb.79fe8d4","type":"debug","z":"1c2e132b.ce94cd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":140,"wires":[]},{"id":"8eb53a1f.e4ae78","type":"debug","z":"22e8c15.1224cbe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":140,"wires":[]},{"id":"5d695d51.dfbb04","type":"jimp-image","z":"d37d8f66.577de","name":"quality 50","data":"result","dataType":"msg","ret":"img","parameter1":"50","parameter1Type":"num","parameter2":"positionx","parameter2Type":"global","parameter3":"positiony","parameter3Type":"global","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"none","parameter6":"","parameter6Type":"none","parameter7":"","parameter7Type":"none","parameter8":"","parameter8Type":"","sendProperty":"result","parameterCount":1,"jimpFunction":"quality","selectedJimpFunction":{"name":"quality","fn":"quality","description":"Set the quality of the image. Useful for reducing size of image before calling the write function.","parameters":[{"name":"quality","type":"num","required":true,"hint":"Quality value 1 ~ 100"}]},"x":680,"y":100,"wires":[["ed33383d.6a0c78"]],"icon":"font-awesome/fa-image"},{"id":"c5812fac.6e2d3","type":"subflow:d37d8f66.577de","z":"22e8c15.1224cbe","name":"","env":[],"x":720,"y":460,"wires":[]},{"id":"bd31b8ee.918748","type":"function","z":"22e8c15.1224cbe","name":"prepare statement","func":"var msg_resize = {payload: 1};\nreturn msg_resize;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":460,"wires":[["c5812fac.6e2d3"]]},{"id":"39725026.93167","type":"http in","z":"22e8c15.1224cbe","name":"","url":"/new","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["fc8a7e88.0451e8","b141bb3.e1dc3c8","ad05f3c0.53c3a8"]]},{"id":"fc8a7e88.0451e8","type":"template","z":"22e8c15.1224cbe","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>OK</h1>\n    </body>\n</html>","x":290,"y":240,"wires":[["983900b9.9bb09"]]},{"id":"983900b9.9bb09","type":"http response","z":"22e8c15.1224cbe","name":"","x":430,"y":240,"wires":[]},{"id":"eba65a09.389528","type":"sqlite","z":"bf6c643.0a83198","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"create table log (ID INT PRIMARY KEY NOT NULL, EXAM TEXT, RESULTS TEXT, VALUTATION TEXT, LOGDATE TEXT, DISTANCE NUMBER)","name":"create table log","x":280,"y":500,"wires":[[]]},{"id":"9a6576ac.30b2f","type":"comment","z":"bf6c643.0a83198","name":"table configuration","info":"","x":290,"y":80,"wires":[]},{"id":"54d9e10.3b1eca","type":"comment","z":"bf6c643.0a83198","name":"table results","info":"","x":270,"y":360,"wires":[]},{"id":"8ed8595c.ba7838","type":"comment","z":"bf6c643.0a83198","name":"table log","info":"","x":260,"y":460,"wires":[]},{"id":"fb746923.d5544","type":"function","z":"22e8c15.1224cbe","name":"prepare statement","func":"var date = new Date().toLocaleString();\nvar distance = global.get('distance');\n\nmsg.topic = \"insert into log (EXAM,RESULTS,VALUTATION,LOGDATE,DISTANCE) VALUES ('VISTA','\" + msg.payload.results + \"', '\" + msg.payload.valutation + \"/10','\" + date + \"',\" + distance +\")\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":860,"wires":[["88d19bc5.1996d8"]]},{"id":"88d19bc5.1996d8","type":"sqlite","z":"22e8c15.1224cbe","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"save log","x":880,"y":860,"wires":[[]]},{"id":"f29b8425.12073","type":"function","z":"ee39999b.68b5a","name":"prepare statement","func":"var results = msg.req._parsedUrl.query;\nresults = results.substring(5);\n\nvar date = new Date().toLocaleString();\n\nmsg.topic = \"insert into log (EXAM,RESULTS,VALUTATION,LOGDATE,DISTANCE) VALUES ('UDITO','', '\" + results + \"','\" + date +\"',0)\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":340,"wires":[["641c03c1.cb0e2c"]]},{"id":"641c03c1.cb0e2c","type":"sqlite","z":"ee39999b.68b5a","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"save log","x":520,"y":340,"wires":[[]]},{"id":"5303920c.671f9c","type":"function","z":"1c2e132b.ce94cd","name":"prepare statement","func":"var visione = msg.payload.visione;\nvar protane = msg.payload.protane;\nvar deutane = msg.payload.deutane;\nvar results = msg.payload.results;\n\nvar valutazione = \"visione: \" + visione + \" - protane: \" + protane + \" - deutane: \" + deutane;\n\nvar date = new Date().toLocaleString();\n\nmsg.topic = \"insert into log (EXAM,RESULTS,VALUTATION,LOGDATE,DISTANCE) VALUES ('DALTONISMO','\" + results + \"', '\" + valutazione +\"','\" + date +\"',0)\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":460,"wires":[["5da2cc0a.8bc044"]]},{"id":"5da2cc0a.8bc044","type":"sqlite","z":"1c2e132b.ce94cd","mydb":"85a78666.a0619","sqlquery":"msg.topic","sql":"","name":"save log","x":920,"y":460,"wires":[[]]},{"id":"1f95d43e.f4d37c","type":"ui_dropdown","z":"e8b7cfc5.2ce4b","name":"","label":"Tipo esame","tooltip":"","place":"selezionare un esame","group":"7be9c692.cbebd","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Esame acuità visiva","value":"VISTA","type":"str"},{"label":"Esame dell'udito","value":"UDITO","type":"str"},{"label":"Esame daltonismo","value":"DALTONISMO","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":510,"y":940,"wires":[["50980f0a.4eed98"]]},{"id":"9f3a8857.bfebe","type":"ui_table","z":"e8b7cfc5.2ce4b","group":"7be9c692.cbebd","name":"Risultati","order":2,"width":"19","height":"8","columns":[{"field":"data","title":"Data","width":"10%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"risultati","title":"Risultati","width":"55%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"valutazione","title":"Valutazione","width":"25%","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distanza","title":"Dist.","width":"10","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1360,"y":940,"wires":[]},{"id":"9b70a197.76a988","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"select * from log where EXAM = 'VISTA' ORDER BY LOGDATE;","name":"read log vista","x":830,"y":900,"wires":[["b495a6a3.478028"]]},{"id":"b495a6a3.478028","type":"function","z":"e8b7cfc5.2ce4b","name":"retrieve data","func":"var msg_data = null;\nvar json = \"[\";\n\nmsg.payload.forEach(function (item) { \n    json += '{ \"data\": \"' + item.LOGDATE + '\", \"risultati\": \"' + item.RESULTS + '\", \"valutazione\": \"' + item.VALUTATION + '\", \"distanza\": \"' + item.DISTANCE + '\"},';\n}); \nif(json.endsWith(',')){\n    json = json.substr(0, json.length-1);\n}\njson += \"]\";\nmsg_data = { payload: json};\n\nreturn msg_data;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":900,"wires":[["3b743b32.0f34e4"]]},{"id":"50980f0a.4eed98","type":"switch","z":"e8b7cfc5.2ce4b","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"VISTA","vt":"str"},{"t":"eq","v":"UDITO","vt":"str"},{"t":"eq","v":"DALTONISMO","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":940,"wires":[["9b70a197.76a988","8b4ea007.100588"],["6a5b1dd5.a7e864","21361511.ad527a"],["7f9475ec.1bc414","706e48f5.149a3"]]},{"id":"6a5b1dd5.a7e864","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"select * from log where EXAM = 'UDITO' ORDER BY LOGDATE;","name":"read log udito","x":840,"y":940,"wires":[["f8db235f.cab3c8"]]},{"id":"7f9475ec.1bc414","type":"sqlite","z":"e8b7cfc5.2ce4b","mydb":"85a78666.a0619","sqlquery":"fixed","sql":"select * from log where EXAM = 'DALTONISMO' ORDER BY LOGDATE;","name":"read log daltonismo","x":850,"y":980,"wires":[["382d6dae.35cc22"]]},{"id":"f8db235f.cab3c8","type":"function","z":"e8b7cfc5.2ce4b","name":"retrieve data","func":"var msg_data = null;\nvar json = \"[\";\n\nmsg.payload.forEach(function (item) { \n    json += '{ \"data\": \"' + item.LOGDATE + '\", \"risultati\": \"' + item.RESULTS + '\", \"valutazione\": \"' + item.VALUTATION + '\", \"distanza\": \"0\"},';\n}); \nif(json.endsWith(',')){\n    json = json.substr(0, json.length-1);\n}\njson += \"]\";\nmsg_data = { payload: json};\n\nreturn msg_data;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":940,"wires":[["3b743b32.0f34e4"]]},{"id":"382d6dae.35cc22","type":"function","z":"e8b7cfc5.2ce4b","name":"retrieve data","func":"var msg_data = null;\nvar json = \"[\";\n\nmsg.payload.forEach(function (item) { \n    json += '{ \"data\": \"' + item.LOGDATE + '\", \"risultati\": \"' + item.RESULTS + '\", \"valutazione\": \"' + item.VALUTATION + '\", \"distanza\": \"0\"},';\n}); \nif(json.endsWith(',')){\n    json = json.substr(0, json.length-1);\n}\njson += \"]\";\nmsg_data = { payload: json};\n\nreturn msg_data;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":980,"wires":[["3b743b32.0f34e4"]]},{"id":"3b743b32.0f34e4","type":"json","z":"e8b7cfc5.2ce4b","name":"","property":"payload","action":"","pretty":false,"x":1210,"y":940,"wires":[["9f3a8857.bfebe"]]},{"id":"f0b37cf8.af932","type":"http response","z":"81db36c8.ca3b58","name":"","x":810,"y":180,"wires":[]},{"id":"9af5669e.3f0ae8","type":"change","z":"81db36c8.ca3b58","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["f0b37cf8.af932"]]},{"id":"7b39575e.bb5278","type":"file in","z":"81db36c8.ca3b58","name":"","filename":"","format":"","x":490,"y":180,"wires":[["9af5669e.3f0ae8"]]},{"id":"962fb14.3ddb9d","type":"function","z":"81db36c8.ca3b58","name":"","func":"msg.filename = \"jpg/optometrica.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":180,"wires":[["7b39575e.bb5278"]]},{"id":"155c2f87.242838","type":"http in","z":"81db36c8.ca3b58","name":"","url":"/get_optometricabase","method":"get","upload":false,"swaggerDoc":"","x":150,"y":180,"wires":[["962fb14.3ddb9d"]]},{"id":"8b4ea007.100588","type":"jimp-image","z":"e8b7cfc5.2ce4b","name":"Optometrica","data":"https://unicam.ngrok.io/get_optometricabase","dataType":"str","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":830,"y":1040,"wires":[["3d9b6560.af0ffa"]]},{"id":"77c6c9c5.e3ef18","type":"ui_template","z":"e8b7cfc5.2ce4b","group":"7be9c692.cbebd","name":"ui template","order":3,"width":"18","height":"12","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1170,"y":1040,"wires":[[]]},{"id":"3d9b6560.af0ffa","type":"template","z":"e8b7cfc5.2ce4b","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src=\"{{{payload}}}\">","output":"str","x":1000,"y":1040,"wires":[["77c6c9c5.e3ef18"]]},{"id":"706e48f5.149a3","type":"jimp-image","z":"e8b7cfc5.2ce4b","name":"Daltonismo","data":"https://unicam.ngrok.io/get_daltonismo","dataType":"str","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":830,"y":1120,"wires":[["3d9b6560.af0ffa"]]},{"id":"97e32a6a.7f7fb","type":"http response","z":"81db36c8.ca3b58","name":"","x":810,"y":300,"wires":[]},{"id":"99978c5d.dfcbd","type":"change","z":"81db36c8.ca3b58","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":300,"wires":[["97e32a6a.7f7fb"]]},{"id":"d9e7725.059d69","type":"file in","z":"81db36c8.ca3b58","name":"","filename":"","format":"","x":490,"y":300,"wires":[["99978c5d.dfcbd"]]},{"id":"9252853b.c69b48","type":"function","z":"81db36c8.ca3b58","name":"","func":"msg.filename = \"jpg/daltonismo.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":300,"wires":[["d9e7725.059d69"]]},{"id":"145850aa.c7aab7","type":"http in","z":"81db36c8.ca3b58","name":"","url":"/get_daltonismo","method":"get","upload":false,"swaggerDoc":"","x":130,"y":300,"wires":[["9252853b.c69b48"]]},{"id":"21361511.ad527a","type":"jimp-image","z":"e8b7cfc5.2ce4b","name":"Audio","data":"https://unicam.ngrok.io/get_audio","dataType":"str","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":810,"y":1080,"wires":[["3d9b6560.af0ffa"]]},{"id":"998ebf77.35533","type":"http in","z":"81db36c8.ca3b58","name":"","url":"/get_audio","method":"get","upload":false,"swaggerDoc":"","x":120,"y":360,"wires":[["e44cb7b8.01d798"]]},{"id":"e44cb7b8.01d798","type":"function","z":"81db36c8.ca3b58","name":"","func":"msg.filename = \"jpg/audio.jpg\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":360,"wires":[["82ff8fc7.fc31e"]]},{"id":"82ff8fc7.fc31e","type":"file in","z":"81db36c8.ca3b58","name":"","filename":"","format":"","x":490,"y":360,"wires":[["b914b8a3.7797e"]]},{"id":"b914b8a3.7797e","type":"change","z":"81db36c8.ca3b58","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"image/jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":360,"wires":[["48fececa.b8227"]]},{"id":"48fececa.b8227","type":"http response","z":"81db36c8.ca3b58","name":"","x":810,"y":360,"wires":[]},{"id":"1dc59818.9d489","type":"inject","z":"e8b7cfc5.2ce4b","d":true,"name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"4","topic":"","x":90,"y":580,"wires":[["a932e205.b8532"]]},{"id":"a932e205.b8532","type":"alexa-remote-init","z":"e8b7cfc5.2ce4b","name":"","account":"fbab9837.1c28f8","option":"fresh","x":280,"y":580,"wires":[[]]}]